#demo-title {
	padding: 40px 0 0 0;
	font-size: 24pt;
	font-weight: normal;
	color: #00a3ef;
}

#demo-introduction {
	margin: 40px 0 0 0;
}

#demo-content {
	margin: 30px 0 0 0;
}

#demo-details {
	margin: 30px 0 0 0;
}

.svgradientbackgroundmaker tbody tr:nth-child(odd),
.svgradientbackgroundmaker tbody tr:nth-child(even) {
	background-color: hsla(0, 0%, 0%, 0);
}

.svgradientbackgroundmaker table {
	width: auto;
}

#demo-details {
	padding-bottom: 12px;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
textarea,
#other-sample {
	width: 100%;
	height: 10em;
	font-family: Consolas, Monospace;
	line-height: 1.2em;
	padding: 2px;
	border: solid 1px #aaa;
	max-width: 100%;
}
#other-sample {
	height: 280px;
	padding: 0;
	background-size: 100% 100%;
}
input[type="text"] {
	border: solid 1px #aaa;
	padding: 1px;
}
#htxtlink {
	font-style: italic;
}
#control-wrapper {
	width: 100%;
}
.label-cell,
.data-cell {
	vertical-align: top;
	padding-top: 0px;
	padding-bottom: 12px;
	white-space: nowrap;
}
.label-cell {
	text-align: right;
	padding-left: 0;
	padding-right: 12px;
}
.data-cell {
	width: 100%;
	text-align: left;
	padding-left: 0;
	padding-right: 0;
}
#stops tr:first-child {
	text-align: center;
}
#stops tr td:first-child {
	text-align: right;
	padding-right: 12px;
}
#stops td {
	padding: 0 4px 4px 0;
}
#pos-panel td,
#sizePanel td {
	padding-right: 8px;
}
.positionThumbnail,
.sizeThumbnail {
	border: 2px white;
	width: 86px;
	height: 50px;
	text-align: center;
	font-size: 8.25pt;
	vertical-align: bottom;
	background-size: 100% 100%;
}
.deletebutton {
	text-align: center;
}
.deletebutton button {
	border: solid 1px #999;
	padding: 0px 3px 0px 3px;
}
svg {
	overflow: visible;
}
#dastart,
#daend {
	cursor: crosshair;
}