*{
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	margin: 0 auto 0 auto;
	min-width: 960px;
	max-width: 1080px;
	padding: 0 40px 0 40px;
}

#demo-screenreader-text {
	position: absolute;
	left: -10000px;
}

#demo-title {
	padding: 40px 0 0 0;
	font-size: 24pt;
	font-weight: normal;
	color: #00a3ef;
}

#demo-introduction {
	margin: 40px 0 0 0;
}

#demo-content {
	margin: 30px 0 0 0;
}

#demo-details {
	margin: 30px 0 0 0;
}
