#demo-wrapper {
	  position: relative;
	  margin: 0 auto 0 auto;
	  min-width: 960px;
	  max-width: 1080px;
	  padding: 0 40px 0 40px;
}

#demo-content .container {
	width: 100%;
}

.image-wrapper {
	max-width:350px;
	float:right;
	padding-top: 10px;
}

#cakeForm{
	  padding-right: 350px;
}

#demo-wrapper h1 {
	margin-bottom: 20px;
}
#demo-wrapper fieldset {
	padding-left: 10px;
	margin: 10px;
	padding-bottom: 10px;
}
#demo-wrapper label {
	width: 150px;
	display: inline-block;
	padding-bottom: 10px;
}
#demo-wrapper legend {
	font-size: large;
}

#demo-wrapper  input,
#demo-wrapper select,
#demo-wrapper textarea {
	width: 200px;
}
.comment {
	color: gray;
}
#PC1 input:valid {
	border: solid lime;
}
#PC1 input:invalid {
	border: solid red;
}
#req_opt_ex input:required:invalid {
	border: yellow solid;
}
#placeholder:-ms-input-placeholder {
	font-style: italic;
}
#demo-details p,
#demo-details form {
	margin-left: 30px;
}
#demo-details h2 {
	margin-bottom: 10px;
}
#demo-details {
	min-height: 1150px;
	margin-bottom: 20px;
}
.code {
	font-family: "Courier New", Courier, monospace;
	white-space: pre;
}
#errorMessage,
#errorMessage2 {
	visibility: hidden;
	color: red;
}
#tabmenu {
	/*color: #000;*/
	border-bottom: 2px solid gray;
	z-index: 1;
	padding-left: 10px;
	margin: 0;
}
#tabmenu li {
	display: inline;
	overflow: hidden;
	list-style-type: none;
}
#tabmenu a,
#tabmenu a.active {
	color: #00a3ef;
	border: 2px solid gray;
	padding: 2px 5px 0 5px;
	margin: 0;
	text-decoration: none;
}
#tabmenu a.active {
	background: white;
	border-bottom: 3px solid white;
}
#tabmenu a:hover {
	color: white;
	background-color: #00a3ef;
}

#demo-details div {
	padding: 20px;
	border: 2px solid gray;
	border-top: none;
	z-index: 2;
	display: none;
}
#demo-details div.active {
	display: block;
	height: 100%;
}
#demo-details input[type="submit"] {
	margin: 0;
  	vertical-align: baseline;
  	margin-left: 5px;
}
form.success:after {
	content: "Successful submit!";
	color: green;
	margin-left: 10px;
}
#demo-content {
	height: 500px;
}
#content1, #content2, #content3, #content4 {
	margin: 0;
}
#content2 textarea {
	vertical-align: bottom;
}
#content3 input[type="submit"], #content4 #form input[type="submit"] {
	margin-left: 0;
}
