.button {
  border: none;
  display: inline-block;
  border-radius: 3px;
  padding: 15px 20px;
  background-color: #12acef;
  /*font-family: 'Gotham Rounded A', 'Gotham Rounded B', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-size: 1.4em;
  font-weight: 500;
  text-align: center;
  line-height: 1.4;
  color: white;
  cursor: pointer;
  -webkit-appearence: none;
  transition: background .3s ease-in;
  -webkit-transition: background .3s ease-in;
}