html,
body {
  height: 100%;
}
body {
  overflow: auto;
}
#webnoteColorPages {
  position: relative;
  width: 100%;
  min-width: 768px;
  height: 100%;
  background-color: #fcf6d9;
  font-family: segoe-coloring-book;
}
#webnoteColorPages html,
#webnoteColorPages body,
#webnoteColorPages div,
#webnoteColorPages span,
#webnoteColorPages applet,
#webnoteColorPages object,
#webnoteColorPages iframe,
#webnoteColorPages h1,
#webnoteColorPages h2,
#webnoteColorPages h3,
#webnoteColorPages h4,
#webnoteColorPages h5,
#webnoteColorPages h6,
#webnoteColorPages p,
#webnoteColorPages blockquote,
#webnoteColorPages pre,
#webnoteColorPages a,
#webnoteColorPages abbr,
#webnoteColorPages acronym,
#webnoteColorPages address,
#webnoteColorPages big,
#webnoteColorPages cite,
#webnoteColorPages code,
#webnoteColorPages del,
#webnoteColorPages dfn,
#webnoteColorPages em,
#webnoteColorPages font,
#webnoteColorPages img,
#webnoteColorPages ins,
#webnoteColorPages kbd,
#webnoteColorPages q,
#webnoteColorPages s,
#webnoteColorPages samp,
#webnoteColorPages small,
#webnoteColorPages strike,
#webnoteColorPages strong,
#webnoteColorPages sub,
#webnoteColorPages sup,
#webnoteColorPages tt,
#webnoteColorPages var,
#webnoteColorPages dl,
#webnoteColorPages dt,
#webnoteColorPages dd,
#webnoteColorPages ol,
#webnoteColorPages ul,
#webnoteColorPages li,
#webnoteColorPages fieldset,
#webnoteColorPages form,
#webnoteColorPages label,
#webnoteColorPages legend,
#webnoteColorPages table,
#webnoteColorPages caption,
#webnoteColorPages tbody,
#webnoteColorPages tfoot,
#webnoteColorPages thead,
#webnoteColorPages tr,
#webnoteColorPages th,
#webnoteColorPages td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
#webnoteColorPages :focus {
  outline: 0;
}
#webnoteColorPages body {
  line-height: 1;
  color: black;
  background: white;
}
#webnoteColorPages ol,
#webnoteColorPages ul {
  list-style: none;
}
#webnoteColorPages table {
  border-collapse: separate;
  border-spacing: 0;
}
#webnoteColorPages caption,
#webnoteColorPages th,
#webnoteColorPages td {
  text-align: left;
  font-weight: normal;
}
#webnoteColorPages blockquote:before,
#webnoteColorPages blockquote:after,
#webnoteColorPages q:before,
#webnoteColorPages q:after {
  content: "";
}
#webnoteColorPages blockquote,
#webnoteColorPages q {
  quotes: "" "";
}
#webnoteColorPages textarea,
#webnoteColorPages select,
#webnoteColorPages input,
#webnoteColorPages input[type="date"],
#webnoteColorPages input[type="datetime"],
#webnoteColorPages input[type="datetime-local"],
#webnoteColorPages input[type="email"],
#webnoteColorPages input[type="month"],
#webnoteColorPages input[type="number"],
#webnoteColorPages input[type="password"],
#webnoteColorPages input[type="search"],
#webnoteColorPages input[type="tel"],
#webnoteColorPages input[type="text"],
#webnoteColorPages input[type="time"],
#webnoteColorPages input[type="url"],
#webnoteColorPages input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: #fff;
  color: #000;
  outline: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1em;
  font-family: inherit;
  height: 1em;
  vertical-align: middle;
  border: 0px;
  color: inherit;
}
#webnoteColorPages select {
  background: #fff;
  padding: 0;
  font-size: 1em;
}
@font-face {
  font-family: 'segoe-coloring-book';
  font-weight: 300;
  font-style: normal;
  src: url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/Light/latest.eot');
  src: local('Segoe UI Light'), local('Segoe'), url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/Light/latest.eot?#iefix') format('embedded-opentype'), url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/Light/latest.woff') format('woff'), url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/Light/latest.ttf') format('truetype'), url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/Light/latest.svg#web') format('svg');
}
@font-face {
  font-family: 'segoe-coloring-book';
  font-weight: 400;
  font-style: normal;
  src: url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/Semlight/latest.eot');
  src: local('Segoe UI SemiLight'), local('Segoe'), url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/SemiLight/latest.eot?#iefix') format('embedded-opentype'), url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/SemiLight/latest.woff') format('woff'), url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/SemiLight/latest.ttf') format('truetype'), url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/SemiLight/latest.svg#web') format('svg');
}
@font-face {
  font-family: 'segoe-coloring-book';
  font-weight: 500;
  font-style: normal;
  src: url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/Normal/latest.eot');
  src: local('Segoe UI'), local('Segoe'), url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/Normal/latest.eot?#iefix') format('embedded-opentype'), url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/Normal/latest.woff') format('woff'), url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/Normal/latest.ttf') format('truetype'), url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/Normal/latest.svg#web') format('svg');
}
@font-face {
  font-family: 'segoe-coloring-book';
  font-weight: 600;
  font-style: normal;
  src: url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/SemiBold/latest.eot');
  src: local('Segoe UI SemiBold'), url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/SemiBold/latest.eot?#iefix') format('embedded-opentype'), url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/SemiBold/latest.woff') format('woff'), url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/SemiBold/latest.ttf') format('truetype'), url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/SemiBold/latest.svg#web') format('svg');
}
@font-face {
  font-family: 'segoe-coloring-book';
  font-weight: 700;
  font-style: normal;
  src: url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/Bold/latest.eot');
  src: local('Segoe UI Bold'), url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/Bold/latest.eot?#iefix') format('embedded-opentype'), url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/Bold/latest.woff') format('woff'), url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/Bold/latest.ttf') format('truetype'), url('https://i.s-microsoft.com/fonts/Segoe-UI/West-European/Bold/latest.svg#web') format('svg');
}
#webnoteColorPages .fullWidth {
  box-sizing: border-box;
  width: 100%;
}
#webnoteColorPages .maxFullWidth {
  box-sizing: border-box;
  max-width: 100%;
}
#webnoteColorPages .floatRight {
  float: right;
}
#webnoteColorPages .floatLeft {
  float: left;
}
#webnoteColorPages .resetSpacing {
  margin: 0;
  padding: 0;
  line-height: 1;
}
#webnoteColorPages .resetList {
  margin: 0;
  padding: 0;
}
#webnoteColorPages .resetList li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
#webnoteColorPages .container {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 40px;
}
#webnoteColorPages .container.reading {
  max-width: 800px;
}
#webnoteColorPages .row {
  position: relative;
}
#webnoteColorPages .column,
#webnoteColorPages .columns {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 100%;
}
@media (min-width: 400px) {
  #webnoteColorPages .container {
    width: 90%;
    padding: 0;
  }
}
@media (min-width: 680px) {
  #webnoteColorPages .container {
    width: 90%;
  }
  #webnoteColorPages .column,
  #webnoteColorPages .columns {
    margin-left: 4%;
  }
  #webnoteColorPages .column:first-child,
  #webnoteColorPages .columns:first-child {
    margin-left: 0;
  }
  #webnoteColorPages .one.column,
  #webnoteColorPages .one.columns {
    width: 4.66666666667%;
  }
  #webnoteColorPages .two.columns {
    width: 13.3333333333%;
  }
  #webnoteColorPages .three.columns {
    width: 22%;
  }
  #webnoteColorPages .four.columns {
    width: 30.6666666667%;
  }
  #webnoteColorPages .five.columns {
    width: 39.3333333333%;
  }
  #webnoteColorPages .six.columns {
    width: 48%;
  }
  #webnoteColorPages .seven.columns {
    width: 56.6666666667%;
  }
  #webnoteColorPages .eight.columns {
    width: 65.3333333333%;
  }
  #webnoteColorPages .nine.columns {
    width: 74.0%;
  }
  #webnoteColorPages .ten.columns {
    width: 82.6666666667%;
  }
  #webnoteColorPages .eleven.columns {
    width: 91.3333333333%;
  }
  #webnoteColorPages .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
  #webnoteColorPages .one-third.column {
    width: 30.6666666667%;
  }
  #webnoteColorPages .two-thirds.column {
    width: 65.3333333333%;
  }
  #webnoteColorPages .one-half.column {
    width: 48%;
  }
  #webnoteColorPages .offset-by-one.column,
  #webnoteColorPages .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }
  #webnoteColorPages .offset-by-two.column,
  #webnoteColorPages .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }
  #webnoteColorPages .offset-by-three.column,
  #webnoteColorPages .offset-by-three.columns {
    margin-left: 26%;
  }
  #webnoteColorPages .offset-by-four.column,
  #webnoteColorPages .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }
  #webnoteColorPages .offset-by-five.column,
  #webnoteColorPages .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }
  #webnoteColorPages .offset-by-six.column,
  #webnoteColorPages .offset-by-six.columns {
    margin-left: 52%;
  }
  #webnoteColorPages .offset-by-seven.column,
  #webnoteColorPages .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }
  #webnoteColorPages .offset-by-eight.column,
  #webnoteColorPages .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }
  #webnoteColorPages .offset-by-nine.column,
  #webnoteColorPages .offset-by-nine.columns {
    margin-left: 78.0%;
  }
  #webnoteColorPages .offset-by-ten.column,
  #webnoteColorPages .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }
  #webnoteColorPages .offset-by-eleven.column,
  #webnoteColorPages .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }
  #webnoteColorPages .offset-by-one-third.column,
  #webnoteColorPages .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }
  #webnoteColorPages .offset-by-two-thirds.column,
  #webnoteColorPages .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }
  #webnoteColorPages .offset-by-one-half.column,
  #webnoteColorPages .offset-by-one-half.columns {
    margin-left: 52%;
  }
}
#webnoteColorPages figcaption,
#webnoteColorPages .caption {
  height: auto;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 3rem;
}
#webnoteColorPages .reading img {
  width: 100%;
  line-height: 0;
  margin: 3rem 0;
  padding: 0;
}
#webnoteColorPages .reading img ~ figcaption {
  margin-top: -3rem;
}
#webnoteColorPages .reading pre {
  margin: 3rem 0;
}
#webnoteColorPages .container:after,
#webnoteColorPages .row:after,
#webnoteColorPages .u-cf {
  content: '';
  display: table;
  clear: both;
}
#webnoteColorPages html {
  font-size: 10px;
}
#webnoteColorPages body {
  -webkit-font-smoothing: antialiased;
  color: #202020;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 1.6;
}
#webnoteColorPages h1,
#webnoteColorPages h2,
#webnoteColorPages h3,
#webnoteColorPages h4,
#webnoteColorPages h5,
#webnoteColorPages h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}
#webnoteColorPages h1 {
  font-size: 4.0rem;
  line-height: 1.2;
}
#webnoteColorPages h2 {
  font-size: 3.6rem;
  line-height: 1.25;
}
#webnoteColorPages h3 {
  font-size: 3.0rem;
  line-height: 1.3;
}
#webnoteColorPages h4 {
  font-size: 2.4rem;
  line-height: 1.35;
}
#webnoteColorPages h5 {
  font-size: 1.8rem;
  line-height: 1.5;
}
#webnoteColorPages h6 {
  font-size: 1.5rem;
  line-height: 1.6;
}
@media (min-width: 680px) {
  #webnoteColorPages h1 {
    font-size: 5.0rem;
  }
  #webnoteColorPages h2 {
    font-size: 4.2rem;
  }
  #webnoteColorPages h3 {
    font-size: 3.6rem;
  }
  #webnoteColorPages h4 {
    font-size: 3.0rem;
  }
  #webnoteColorPages h5 {
    font-size: 2.4rem;
  }
  #webnoteColorPages h6 {
    font-size: 1.5rem;
  }
}
#webnoteColorPages p {
  margin-top: 0;
}
#webnoteColorPages a {
  color: orange;
}
#webnoteColorPages a:hover {
  color: blue;
}
#webnoteColorPages .button,
#webnoteColorPages button,
#webnoteColorPages input[type='submit'],
#webnoteColorPages input[type='reset'],
#webnoteColorPages input[type='button'] {
  -webkit-transition: 200ms background-color;
  -moz-transition: 200ms background-color;
  -ms-transition: 200ms background-color;
  -o-transition: 200ms background-color;
  transition: 200ms background-color;
  display: inline-block;
  box-sizing: border-box;
  height: 38px;
  padding: 0 30px;
  background-color: black;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  font-size: 11px;
  line-height: 38px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
#webnoteColorPages .button:hover,
#webnoteColorPages button:hover,
#webnoteColorPages input[type='submit']:hover,
#webnoteColorPages input[type='reset']:hover,
#webnoteColorPages input[type='button']:hover,
#webnoteColorPages .button:focus,
#webnoteColorPages button:focus,
#webnoteColorPages input[type='submit']:focus,
#webnoteColorPages input[type='reset']:focus,
#webnoteColorPages input[type='button']:focus {
  background-color: orange;
  outline: 0;
}
#webnoteColorPages .button.button-primary,
#webnoteColorPages button.button-primary,
#webnoteColorPages input[type='submit'].button-primary,
#webnoteColorPages input[type='reset'].button-primary,
#webnoteColorPages input[type='button'].button-primary {
  background-color: #33C3F0;
  color: #FFFFFF;
}
#webnoteColorPages .button.button-primary:hover,
#webnoteColorPages button.button-primary:hover,
#webnoteColorPages input[type='submit'].button-primary:hover,
#webnoteColorPages input[type='reset'].button-primary:hover,
#webnoteColorPages input[type='button'].button-primary:hover,
#webnoteColorPages .button.button-primary:focus,
#webnoteColorPages button.button-primary:focus,
#webnoteColorPages input[type='submit'].button-primary:focus,
#webnoteColorPages input[type='reset'].button-primary:focus,
#webnoteColorPages input[type='button'].button-primary:focus {
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}
#webnoteColorPages input[type='email'],
#webnoteColorPages input[type='number'],
#webnoteColorPages input[type='search'],
#webnoteColorPages input[type='text'],
#webnoteColorPages input[type='tel'],
#webnoteColorPages input[type='url'],
#webnoteColorPages input[type='password'],
#webnoteColorPages textarea,
#webnoteColorPages select {
  box-sizing: border-box;
  height: 38px;
  padding: 6px 10px;
  background-color: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
}
#webnoteColorPages input[type='email'],
#webnoteColorPages input[type='number'],
#webnoteColorPages input[type='search'],
#webnoteColorPages input[type='text'],
#webnoteColorPages input[type='tel'],
#webnoteColorPages input[type='url'],
#webnoteColorPages input[type='password'],
#webnoteColorPages textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#webnoteColorPages textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
#webnoteColorPages input[type='email']:focus,
#webnoteColorPages input[type='number']:focus,
#webnoteColorPages input[type='search']:focus,
#webnoteColorPages input[type='text']:focus,
#webnoteColorPages input[type='tel']:focus,
#webnoteColorPages input[type='url']:focus,
#webnoteColorPages input[type='password']:focus,
#webnoteColorPages textarea:focus,
#webnoteColorPages select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}
#webnoteColorPages label,
#webnoteColorPages legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
#webnoteColorPages fieldset {
  padding: 0;
  border-width: 0;
}
#webnoteColorPages input[type='checkbox'],
#webnoteColorPages input[type='radio'] {
  display: inline;
}
#webnoteColorPages label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}
#webnoteColorPages sub,
#webnoteColorPages sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
#webnoteColorPages sup {
  top: -0.5em;
}
#webnoteColorPages sub {
  bottom: -0.25em;
}
#webnoteColorPages ul {
  list-style: disc;
  margin-left: 1em;
}
#webnoteColorPages ol {
  list-style: decimal inside;
  margin-left: 1em;
}
#webnoteColorPages ol,
#webnoteColorPages ul {
  margin-top: 0;
  padding-left: 0;
}
#webnoteColorPages ul ul,
#webnoteColorPages ul ol,
#webnoteColorPages ol ol,
#webnoteColorPages ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
}
#webnoteColorPages li {
  margin-bottom: 1rem;
}
#webnoteColorPages .listReset {
  list-style: none;
}
#webnoteColorPages .listInlineBlock {
  list-style: none;
}
#webnoteColorPages .listInlineBlock li {
  display: inline-block;
  margin: 0;
}
#webnoteColorPages code {
  white-space: nowrap;
  margin: 0 0.2em;
}
#webnoteColorPages pre > code {
  padding: 0;
  margin: 2.25rem 2rem 2.5rem 2rem;
  display: block;
  white-space: pre;
}
#webnoteColorPages table {
  position: relative;
  border-collapse: collapse;
}
#webnoteColorPages table.small {
  font-size: 0.85em;
}
#webnoteColorPages tr {
  border-bottom: 1px solid #E1E1E1;
}
#webnoteColorPages tr:last-child {
  border-bottom: none;
}
#webnoteColorPages th,
#webnoteColorPages td {
  margin: 0;
  padding: 1rem 2rem;
  text-align: left;
}
#webnoteColorPages button,
#webnoteColorPages .button {
  margin-bottom: 1rem;
}
#webnoteColorPages input,
#webnoteColorPages textarea,
#webnoteColorPages select,
#webnoteColorPages fieldset {
  margin-bottom: 1.5rem;
}
#webnoteColorPages pre,
#webnoteColorPages blockquote,
#webnoteColorPages dl,
#webnoteColorPages figure,
#webnoteColorPages table,
#webnoteColorPages p,
#webnoteColorPages ul,
#webnoteColorPages ol,
#webnoteColorPages form {
  margin-bottom: 2.5rem;
}
#webnoteColorPages blockquote {
  padding-left: 2rem;
  border-left: 2px solid rgba(32, 32, 32, 0.2);
}
#webnoteColorPages hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}
#webnoteColorPages #pages {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  background-color: #fcf6d9;
}
#webnoteColorPages .page {
  position: relative;
  display: block;
  width: 100%;
  min-height: 100%;
  background-color: #fcf6d9;
  border-bottom: 3px dashed #222529;
}
#webnoteColorPages .page img {
  max-width: 100%;
  max-height: 100%;
}
#webnoteColorPages .page.noBorder {
  border-bottom: none;
}
#webnoteColorPages .page:before {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  content: '';
  width: 25%;
  background-color: #222529;
}
#webnoteColorPages .pageContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 25%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
#webnoteColorPages .pageInfo {
  box-sizing: border-box;
  position: relative;
  width: 25%;
  min-height: 100%;
  padding: 30px 20px 30px 20px;
  color: #fcf6d9;
  font-size: 21px;
}
#webnoteColorPages .pageInfo h3 {
  margin-bottom: 25px;
  color: #fdc641;
  font-weight: 400;
  font-size: 2.25em;
  line-height: 1;
}
#webnoteColorPages .pageInfo p {
  margin: 0 0 0.75em 0;
  font-weight: 500;
  line-height: 1.3;
}
#webnoteColorPages .pageInfo p strong {
  font-weight: 700;
}
#webnoteColorPages .pageInfo .nextStep {
  margin-top: 2em;
  color: #fdc641;
  font-weight: 900;
  font-size: 0.75em;
  text-transform: uppercase;
}
#webnoteColorPages i.icon {
  position: relative;
  top: -0.3em;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  margin: -0.5em -0.1em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
#webnoteColorPages i.icon.pen {
  background-image: url(../images/pen.png);
}
#webnoteColorPages i.icon.position {
  background-image: url(../images/position.png);
}
#webnoteColorPages i.icon.pan {
  background-image: url(../images/pan.png);
}
#webnoteColorPages i.icon.save {
  background-image: url(../images/save.png);
}
#webnoteColorPages i.icon.social {
  background-image: url(../images/social.png);
}
#webnoteColorPages i.icon.hub {
  background-image: url(../images/hub.png);
}
#webnoteColorPages i.icon.highlight {
  background-image: url(../images/highlight.png);
}
#webnoteColorPages i.icon.clip {
  background-image: url(../images/clip.png);
}
#webnoteColorPages i.icon.eraser {
  background-image: url(../images/eraser.png);
}
#webnoteColorPages i.icon.webnote {
  background-image: url(../images/webnote.png);
}
#webnoteColorPages i.icon.webnotedark {
  background-image: url(../images/webnotedark.png);
}
#webnoteColorPages i.icon.comment {
  background-image: url(../images/comment.png);
}
#webnoteColorPages i.icon.exit {
  width: 1.4375em;
  background-image: url(../images/exit.png);
}
#webnoteColorPages .hint {
  display: none;
}
#webnoteColorPages .hint + .pageContent {
  top: 70px;
}
#webnoteColorPages .nowrap {
  white-space: nowrap;
}
#webnoteColorPages #title {
  width: 100%;
  max-width: 240px;
  margin-top: 8px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}
#webnoteColorPages #top {
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  position: fixed;
  z-index: 100;
  top: 30px;
  right: 30px;
  display: none;
  visibility: hidden;
  width: 40px;
  height: 60px;
  background-color: transparent;
  background-image: url(../images/top.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 0;
  cursor: pointer;
}
#webnoteColorPages #top.showing {
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  visibility: visible;
  opacity: 1;
}
@media (max-width: 1200px) {
  #webnoteColorPages .pageInfo {
    font-size: 16px;
  }
}
@media (max-height: 700px) {
  #webnoteColorPages #title {
    max-width: 150px;
  }
  #webnoteColorPages .pageInfo p {
    font-size: 0.85em;
  }
}
#webnoteColorPages footer {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 70px;
  padding: 1em;
  background-color: #0b0c0d;
  color: #fcf6d9;
  text-align: center;
}
#webnoteColorPages footer a {
  color: #fcf6d9;
}
#webnoteColorPages #intro:before {
  display: none;
}
#webnoteColorPages #introTop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  height: 35%;
  background-color: #222529;
}
#webnoteColorPages #introTop #introTitleContent {
  position: relative;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  color: #fcf6d9;
}
#webnoteColorPages #introTop #introTitle {
  position: absolute;
  top: 40px;
  right: auto;
  bottom: 20px;
  left: 20px;
  width: 40%;
  max-height: 180px;
  background-image: url(../images/titles.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
#webnoteColorPages #introTop #introText {
  position: absolute;
  top: 0;
  left: 40%;
  width: 60%;
  height: 100%;
  padding: 36px;
  font-weight: 500;
  font-size: 21px;
}
#webnoteColorPages #introTop #introText p {
  width: auto;
  max-width: none;
  line-height: 1.3;
}
#webnoteColorPages #introTop #introText a {
  color: #fdc641;
}
#webnoteColorPages #introTiles {
  position: absolute;
  top: 35%;
  right: 0;
  bottom: auto;
  left: 0;
  height: 30%;
  background-color: #db4f44;
  cursor: pointer;
}
#webnoteColorPages .introTile {
  box-sizing: border-box;
  -webkit-transition: background-color 300ms 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: background-color 300ms 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: background-color 300ms 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: background-color 300ms 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: background-color 300ms 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
  position: relative;
  top: 0;
  left: 0;
  float: left;
  width: 14.28571429%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-align: center;
  vertical-align: middle;
}
#webnoteColorPages .introTile:nth-child(1) {
  background-color: #4db1ac;
}
#webnoteColorPages .introTile:nth-child(2) {
  background-color: #fdc641;
}
#webnoteColorPages .introTile:nth-child(3) {
  background-color: #456c80;
}
#webnoteColorPages .introTile:nth-child(4) {
  background-color: #db4f44;
}
#webnoteColorPages .introTile:nth-child(5) {
  background-color: #e16484;
}
#webnoteColorPages .introTile:nth-child(6) {
  background-color: #428d42;
}
#webnoteColorPages .introTile:nth-child(7) {
  background-color: #655a6c;
}
#webnoteColorPages #introBottom {
  position: absolute;
  top: 65%;
  right: 0;
  bottom: 0;
  left: 0;
}
#webnoteColorPages #introBottomContent {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  text-align: center;
}
#webnoteColorPages #introBottomContent h4 {
  max-width: none;
  margin: 1em 0;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.1;
  max-height: 50px;
}
#webnoteColorPages #introBottomContent #introBrowser {
  width: 96%;
  max-width: 1200px;
  height: auto;
  max-height: none;
  margin: 0 auto;
}
@media (max-width: 1920px) {
  #webnoteColorPages .introTile {
    width: 16.66666667%;
  }
  #webnoteColorPages .introTile:nth-child(7) {
    display: none;
  }
}
@media (max-width: 1600px) {
  #webnoteColorPages .introTile {
    width: 20%;
  }
  #webnoteColorPages .introTile:nth-child(7),
  #webnoteColorPages .introTile:nth-child(6) {
    display: none;
  }
}
@media (max-width: 1280px) {
  #webnoteColorPages .introTile {
    width: 25%;
  }
  #webnoteColorPages .introTile:nth-child(7),
  #webnoteColorPages .introTile:nth-child(6),
  #webnoteColorPages .introTile:nth-child(5) {
    display: none;
  }
}
#webnoteColorPages #tiles {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  user-drag: none;
}
#webnoteColorPages .tile {
  box-sizing: border-box;
  -webkit-transition: background-color 300ms 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: background-color 300ms 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: background-color 300ms 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: background-color 300ms 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: background-color 300ms 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
  position: absolute;
  top: 0;
  left: 0;
  width: 33.333%;
  height: 33.333%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
#webnoteColorPages .tile img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  display: none;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
#webnoteColorPages .tile:nth-child(1) {
  top: 0;
  left: 0;
  background-color: #fdc641;
}
#webnoteColorPages .tile:nth-child(1):hover {
  background-color: #fdd05f;
  background-color: #fcb70f;
  background-color: #fcf6d9;
}
#webnoteColorPages .tile:nth-child(2) {
  top: 0;
  left: 33.333%;
  background-color: #ed9642;
}
#webnoteColorPages .tile:nth-child(2):hover {
  background-color: #f0a960;
  background-color: #e67c16;
  background-color: #fcf6d9;
}
#webnoteColorPages .tile:nth-child(3) {
  top: 0;
  left: 66.666%;
  background-color: #428d42;
}
#webnoteColorPages .tile:nth-child(3):hover {
  background-color: #67a260;
  background-color: #326a32;
  background-color: #fcf6d9;
}
#webnoteColorPages .tile:nth-child(4) {
  top: 33.333%;
  left: 0;
  background-color: #4db1ac;
}
#webnoteColorPages .tile:nth-child(4):hover {
  background-color: #70bfb5;
  background-color: #3e8d89;
  background-color: #fcf6d9;
}
#webnoteColorPages .tile:nth-child(5) {
  top: 33.333%;
  left: 33.333%;
  background-color: #456c80;
}
#webnoteColorPages .tile:nth-child(5):hover {
  background-color: #6a8892;
  background-color: #33505f;
  background-color: #fcf6d9;
}
#webnoteColorPages .tile:nth-child(6) {
  top: 33.333%;
  left: 66.666%;
  background-color: #655a6c;
}
#webnoteColorPages .tile:nth-child(6):hover {
  background-color: #837982;
  background-color: #4b4350;
  background-color: #fcf6d9;
}
#webnoteColorPages .tile:nth-child(7) {
  top: 66.666%;
  left: 0;
  background-color: #e16484;
}
#webnoteColorPages .tile:nth-child(7):hover {
  background-color: #e68195;
  background-color: #d93962;
  background-color: #fcf6d9;
}
#webnoteColorPages .tile:nth-child(8) {
  top: 66.666%;
  left: 33.333%;
  background-color: #db4f44;
}
#webnoteColorPages .tile:nth-child(8):hover {
  background-color: #e27062;
  background-color: #c63226;
  background-color: #fcf6d9;
}
#webnoteColorPages .tile:nth-child(9) {
  top: 66.666%;
  left: 66.666%;
  background-color: #675a48;
}
#webnoteColorPages .tile:nth-child(9):hover {
  background-color: #857965;
  background-color: #494033;
  background-color: #fcf6d9;
}
#webnoteColorPages .hint {
  position: absolute;
  top: 0;
  right: 80px;
  bottom: auto;
  left: 0;
  box-sizing: border-box;
  z-index: 200;
  padding: 1em;
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.2;
  text-align: center;
}
#webnoteColorPages .hintText {
  position: relative;
  display: inline-block;
  min-width: 80%;
  max-width: 800px;
  padding-left: 50px;
  text-align: left;
}
#webnoteColorPages .hintText:before {
  position: absolute;
  top: -2px;
  left: 0;
  content: '';
  width: 38px;
  height: 100px;
  background-image: url(../images/bulb.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-height: 940px) and (max-width: 1024px) {
  #webnoteColorPages #introText p {
    font-size: 18px;
  }
}
@media (max-height: 800px) and (max-width: 1200px) {
  #webnoteColorPages #introText p {
    font-size: 18px;
  }
  #webnoteColorPages #introBottom h4 {
    font-size: 32px;
  }
}
@media (max-height: 800px) and (max-width: 1024px) {
  #webnoteColorPages #introText p {
    font-size: 15px;
  }
}
@media (max-height: 680px) and (max-width: 1200px) {
  #webnoteColorPages #introTop #introTitle {
    top: 20px;
  }
  #webnoteColorPages #introTop #introText {
    padding-top: 20px;
  }
  #webnoteColorPages #introText p {
    font-size: 16px;
  }
}
@media (max-height: 680px) and (max-width: 1024px) {
  #webnoteColorPages #introText p {
    font-size: 14px;
  }
}



#webnoteColorPages.christmasEdition .introTile:nth-child(1) {
  background-color: #428d42;
}
#webnoteColorPages.christmasEdition .introTile:nth-child(2) {
  background-color: #db4f44;
}
#webnoteColorPages.christmasEdition .introTile:nth-child(3) {
  background-color: #428d42;
}
#webnoteColorPages.christmasEdition .introTile:nth-child(4) {
  background-color: #db4f44;
}
#webnoteColorPages.christmasEdition .introTile:nth-child(5) {
  background-color: #428d42;
}
#webnoteColorPages.christmasEdition .introTile:nth-child(6) {
  background-color: #db4f44;
}
#webnoteColorPages.christmasEdition .introTile:nth-child(7) {
  background-color: #428d42;
}
#webnoteColorPages.christmasEdition .pageInfo h3 {
  color: #428d42;
}
#webnoteColorPages.christmasEdition .pageInfo .nextStep {
  color: #db4f44;
}


#webnoteColorPages.autumnEdition .introTile:nth-child(1) {
  background-color: #ba7b2f;
}
#webnoteColorPages.autumnEdition .introTile:nth-child(2) {
  background-color: #fdc641;
}
#webnoteColorPages.autumnEdition .introTile:nth-child(3) {
  background-color: #e06924;
}
#webnoteColorPages.autumnEdition .introTile:nth-child(4) {
  background-color: #656626;
}
#webnoteColorPages.autumnEdition .introTile:nth-child(5) {
  background-color: #ba7b2f;
}
#webnoteColorPages.autumnEdition .introTile:nth-child(6) {
  background-color: #fdc641;
}
#webnoteColorPages.autumnEdition .introTile:nth-child(7) {
  background-color: #e06924;
}
