body{
    margin: 0;
}

.container {
	position: relative;
	overflow: hidden;
}

#demo-content {
    width: 100%;
    padding: 0;
    margin: 0;
}

#demo-screenreader-text {
    position: absolute;
    left: -10000px;
}

#demo-controls {
    position: absolute;
    bottom: 5px;
    left: 0;
    height: 130px;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, .7);
    border-top: 3px solid #424242;
    border-left: 3px solid #424242;
    cursor: default;
    white-space: nowrap;
    -ms-transform: translate(-776px);
    -moz-transform: translate(-776px);
    -webkit-transform: translate(-776px);
    -o-transform: translate(-776px);
    transform: translate(-776px);
    -ms-transition-property: -ms-transform;
    -ms-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -o-transition-property: -o-transform;
    -o-transition-duration: 1s;
    transition-property: transform;
    transition-duration: 1s;
}

    #demo-controls.demo-controlsactive {
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        transform: none;
    }

.control-group {
    display: inline-block;
    width: 180px;
    margin: 0 5px;
    vertical-align: top;
}

	.control-group * + * {
		margin-top: 0;
	}

#demo-controlsgripper {
    display: inline-block;
    width: 50px;
    height: 100%;
    background-image: url("../images/arrowright.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
	margin-top: 0;
}

.demo-controlsactive > #demo-controlsgripper {
    background-image: url("../images/arrowleft.png");
}

.control-groupheader {
    margin: 10px 0;
    text-align: center;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 14pt;
    color: black;
}

.control-buttongroup {
    text-align: center;
}

.control-button {
    display: block;
    width: 180px;
    height: 30px;
    margin-bottom: 10px;
    padding: 0;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 1.1em;
    background-color: #999;
    border: none;
    outline: none;
    cursor: pointer;
}

.control-button-on {
    background-color: #00a3ef;
}

#canvas {
    -ms-touch-action: none;
    touch-action: none;
	margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}