/.DS_Store/
/.idea/
/.vscode/
/node_modules/
webauthn/.vscode/
webauthn/web.config
webauthn/.idea/
variable-fonts/fonts/Bahnschrift.ttf
variable-fonts/fonts/Sitka.ttf
variable-fonts/fonts/SitkaFV.ttf
variable-fonts/styles/font-declarations.css
