/*
 *	RESET STYLES
 *	In case of demo styles leaking into header
 *	---------------------------------------------
 */

.demo-header,
.demo-header * {
	margin: 0;
	padding: 0;
	transition: none;
}

.demo-header * {
	border: 0;
	width: auto;
	height: auto;
	background: transparent;
	color: inherit;
}

/*
 *	HEADER STYLES
 *	Now it's time for actual styles!
 *	Font styles are in px to avoid inheritance
 *	---------------------------------------------
 */

/* FONTS */
@font-face {
	font-family: base;
	src: local("Segoe UI Light"),
			 url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2") format("woff2"),
			 url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff") format("woff");
	font-weight: 200;
}

@font-face {
	font-family: base;
	src: local("Segoe UI Semilight"),
			 url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2") format("woff2"),
			 url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff") format("woff");
	font-weight: 300;
}

@font-face {
	font-family: base;
	src: local("Segoe UI"),
			 url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2") format("woff2"),
			 url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff") format("woff");
	font-weight: 400;
}

@font-face {
	font-family: base;
	src: local("Segoe UI Semibold"),
			 url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2") format("woff2"),
			 url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff") format("woff");
	font-weight: 600;
}

/* DEMO HEADER */
body {
	margin: 0;
	padding: 0;
}

.demo-header {
	position: relative;
	z-index: 1000;
	padding: 1em 0;
	width: 100%;
	border-bottom: 1px solid hsla(0, 0%, 0%, .2);
	font: 400 15px/1.5 "Segoe UI", Segoe, "Segoe WP", "Lucida Grande", "Lucida Sans", Verdana, sans-serif;
	background: #fff;
	color: #000;
}

.demo-header,
.demo-header * {
	box-sizing: border-box;
}

.demo-header .container,
.template-instructions {
	margin-right: auto;
	margin-left: auto;
	padding: 0 1.25em;
	max-width: 1600px;
}

.demo-header h1 {
	display: inline-block;
	margin: 0 .5em 0 0;

	font-size: 20px;
	font-weight: 300;
	line-height: 1.5;
}

.demo-header p {
	margin: 0 0 1em;
	max-width: 640px;
}

.demo-header button {
	border: 0;
	outline: none;
	background: transparent;
	font: 400 1em/1.5 "Segoe UI", Segoe, "Segoe WP", "Lucida Grande", "Lucida Sans", Verdana, sans-serif;
	cursor: pointer;
}

.demo-header a,
.demo-header a:visited,
.demo-header button {
	padding: 0 0 1px;
	border-bottom: 1px solid transparent;
	text-decoration: none;

	color: #0078d7;
}

.demo-header a:hover,
.demo-header button:hover {
	border-bottom-color: currentColor;
}

.demo-header__details {
	margin-top: 1em;
}

.demo-header__details-list dt {
	display: inline-block;
	font-weight: 600;
}

.demo-header__details-list dd + dt {
	margin-top: .25em;
}

.demo-header__details-list dd {
	display: inline;

	margin: 0;
	padding-left: .25em;
}

.demo-header__details-list dd:after{
	display: block;
	content: '';
}

.demo-header__browse-all {
	display: inline-block;
	margin-top: 1em;
}

@media (min-width: 48em) {

	.demo-header .container {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-align: baseline;
		-webkit-align-items: baseline;
		-ms-flex-align: baseline;
		align-items: baseline;
	}

	.demo-header__main {
		-webkit-flex: 1;
		-moz-flex: 1;
		-ms-flex: 1;
		-webkit-box-flex: 1;
		flex: 1;
		padding-right: 4.8em;
	}

	.demo-header__browse-all {
		margin-top: 0;
	}

}