/*
 *	=============================================
 *	VARIABLE FONTS
 *	---------------------------------------------
 *	Z-INDEX KEY
 *	Increments of 10
 *
 *	Intro: 1-100
 *	Other sections: 110-200
 *	=============================================
 */

body {
	color: #444;

	/* Hide overflow from angled edges */
	overflow-x: hidden;
}

/* DO NOT remove focus altogether, just style to your colors */
:focus {
	outline: 1px dotted #000;
}

::-moz-selection {
	background: #c7d4de;
}

::selection {
	background: #c7d4de;
	color: #000;
}

a:link, a:visited {
	color: #424f5e;
}

a:hover {
	color: #5e7186;
}

/*
 *	UNIVERSAL STYLES
 *	=============================================
 */

/*
 *	TYPOGRAPHY
 *	---------------------------------------------
 */

h1, h2, h3, .h3, h4, .h4, .variable-font {
	font-family: "Variable Bahnschrift", "FF DIN", "Franklin Gothic", "Helvetica Neue", sans-serif;
	font-feature-settings: "kern" 1;
}

h1, h2 {
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: .05em;
	color: #424f5e;
}

h1 {
	font-weight: 700;
	font-size: 2.75em;
}

h2 {
	font-size: 2.25em;
}

body.has-anim .guide-content h2 {
	opacity: .8;
	font-weight: 100;

	/* TranslateZ sends el to its own rendering layer */
	transform: scale(.8) translateZ(1px);
	transition: font-weight 1s, opacity 1s, transform 1s;
}

body.has-anim .guide-content h2.in-view {
	opacity: .99;
	font-weight: 900;
	transform: scale(1) translateZ(1px);
}

h3, .h3,
h4, .h4 {
	font-weight: 400;
	font-variation-settings: "wdth" 85;
	font-size: 1.25em;
	line-height: 1.2;
	color: #57687c;
}

h3 {
	text-align: center;
}

h3, .h3 {
	font-size: 1.75em;
}

h3, h4,
p, ul, ol,
pre,
table {
	margin-right: auto;
	margin-left: auto;
	max-width: 34rem;
}

code {
	padding: .25em;
	background: #f2f3f4;
	color: #424f5e;
}

pre {
	margin-top: 1.5em;
}

pre code {
	display: block;
	padding: 1.25em;
	tab-size: 3;
	background: #424f5e;
	color: #f2f3f4;
}

table {
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	border-collapse: collapse;
	width: 100%;
}

table:first-child {
	margin-top: 0;
}

th, td {
	padding: 10px;
	padding: .5rem .75rem;
	text-align: left;
}

td {
	border-bottom: 1px solid #bdc6d1;
	border-left: 1px solid #bdc6d1;
}

th, td:first-child {
	padding-left: 0;
	border-left: 0;
	width: 25%;
}

@media (min-width: 36em) {
	h1 {
		font-size: 5em;
	}

	h2 {
		font-size: 4em;
	}

	h3, .h3, h4, .h4 {
		font-weight: 350;
		font-size: 1.75em;
	}

	h3, .h3 {
		font-size: 2em;
	}
}

/*
 *	MEDIA + CODE
 *	---------------------------------------------
 */

img, video {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}

.caption, figcaption {
	display: block;
	margin: 1em auto 0;
}

caption, thead, .caption, figcaption {
	max-width: 34rem;
	font: 1em/1.2 "Variable Bahnschrift", "FF DIN", "Franklin Gothic", "Helvetica Neue", sans-serif;
	font-weight: 350;
	font-variation-settings: "wdth" 75;
	letter-spacing: .01em;
	text-align: left;
	color: #666;
}

caption, thead {
	margin: 0 0 .75em;
	text-transform: uppercase;
	letter-spacing: .05em;
}

.inline-media {
	display: inline;
	margin: 0;
}

/*
 *	FORM ELEMENTS
 *	---------------------------------------------
 */

button {
	padding: .5em .75em;
	border: 0;
	border-radius: 0;
	font: inherit;
	-webkit-appearance: none;
	background-color: #e5ebf0;
	color: #000;
}

button:hover,
button:focus {
	outline: 2px solid hsla(0, 0%, 0%, .4);
	outline-offset: 0;
	background-color: #d5e3ee;
}

button:hover {
	cursor: pointer;
}

button:active {
	background-color: #999;
}

main button {
	font-family: "Variable Bahnschrift", "FF DIN", "Franklin Gothic", "Helvetica Neue", sans-serif;
}

/*
 *	UTILITIES
 *	=============================================
 */

.u-upper {
	text-transform: uppercase;
	letter-spacing: .02em;
}

/*
 *	ANGLED EDGES
 *	---------------------------------------------
 */

.guide-content,
.l-subsection--banner,
.c-outro {
	position: relative;
}

.guide-content::before,
.l-subsection--banner::before,
.l-subsection--banner::after,
.c-outro::before {
	display: block;
	position: absolute;
	z-index: 110;
	content: "";
	left: 0;
	width: 0;
	border-left: 100vw solid transparent;
}

.l-subsection--banner {
	margin: 5rem 0 6rem;
	background: #f2f3f4;
}

.l-subsection--banner::before {
	top: -2rem;
	border-bottom: 2rem solid #f2f3f4;
}

.l-subsection--banner::after {
	bottom: -2rem;
	border-left: 0;
	border-right: 100vw solid transparent;
	border-top: 2rem solid #f2f3f4;
}

@media (min-width: 48em) {
	.l-subsection--banner {
		margin: 7rem 0 8rem;
	}

	.l-subsection--banner::before {
		top: -4rem;
		border-bottom: 4rem solid #f2f3f4;
	}

	.l-subsection--banner::after {
		bottom: -4rem;
		border-top: 4rem solid #f2f3f4;
	}
}

/*
 *	GUIDE CONTENT
 *	---------------------------------------------
 */

/* Padding accounts for angled edges, z-index + bg to slide over the ice floes */
.guide-content {
	z-index: 100;
	padding: 2vmin 0 25vmin;
	background: #fff;
}

/* Angled edge */
.guide-content::before {
	top: -15vmin;
	top: calc(-15vmin + 1px);
	border-bottom: 15vmin solid #fff;
}

/*
 *	LAYOUT
 *	=============================================
 */

/*
 *	LAYOUT: SECTION, HEADER, BODY
 *	---------------------------------------------
 */

.l-section__header {
	text-align: center;
}

.l-section__header > * {
	margin: 0 auto;
}

.l-section__body {
	margin-top: 2em;
}

/* Special section that has the line leading to it */
.l-section--timeline {
	position: relative;
	padding-top: 9em;
}

.l-section--timeline::before {
	display: block;
	content: "";
	position: absolute;
	z-index: 120;
	top: -1em;
	left: 50%;
	margin-left: -1px;
	width: 1px;
	height: 7em;
	background: #424f5e;
}

@media (min-width: 48em) {
	.l-section__body {
		margin-top: 4.5em;
	}
}

@media (min-width: 64em) {
	.l-section--timeline {
		padding-top: 17em;
	}

	.l-section--timeline::before {
		height: 15em;
	}
}

/*
 *	LAYOUT: GRID
 *	---------------------------------------------
 */

/* Match .l-contain */
.l-grid {
	margin-right: auto;
	margin-left: auto;
	max-width: 100rem;
	padding: 0 1.25rem;
}

.l-grid > [class*="l-col-"] {
	margin-top: 1.5em;
}

.l-grid--stack-med > .l-col-right--bleed {
	margin-top: 2em;
}

.l-grid > [class*="l-col-"]:first-child {
	margin-top: 0;
}

@media (min-width: 36em) {
	.l-grid {
		padding: 0 3rem;
	}
}

@media (min-width: 60em) {
	.l-grid {
		padding: 0 6rem;
	}
}

@supports (display: grid) {
	@media (min-width: 60em) {
		.l-grid:not(.l-grid--stack-med) {
			display: grid;
			padding: 0;
		}

		.l-grid {
			grid-template-columns: 6rem 1fr 18rem minmax(4rem, 1fr) minmax(auto, 34rem) 1fr 6rem;
			grid-gap: 4rem 0;
		}

		.l-col-left {
			grid-column: 3;
		}

		h3 {
			text-align: left;
		}

		.l-col-right {
			grid-column: 5;
		}

		figure.l-col-right,
		.l-col-right--bleed {
			grid-column-end: -2;
		}

		.l-col-full {
			grid-column: 1 / -1;
		}

		.l-grid:not(.l-grid--stack-med) > [class*="l-col-"] {
			margin: 0;
		}

		.l-grid:not(.l-grid--stack-med) .caption, .l-grid:not(.l-grid--stack-med) figcaption {
			margin-right: 0;
			margin-left: 0;
		}
	}

	@media (min-width: 72em) {
		.l-grid {
			grid-template-columns: 6rem 1fr 22rem minmax(4rem, 1fr) minmax(auto, 34rem) 1fr 6rem;
		}

		.l-grid--stack-med {
			display: grid;
			padding: 0;
		}

		.l-grid--stack-med > [class*="l-col-"] {
			margin: 0;
		}

		.caption, figcaption {
			margin-right: 0;
			margin-left: 0;
		}
	}
}

/*
 *	REUSABLE OBJECTS / COMPONENTS
 *	=============================================
 */

/*
 *	COMPONENT: NAV BAR
 *	---------------------------------------------
 */

.c-nav-bar {
	z-index: 8000;
	background: #1f252c;
	color: #ccc;
}

/* DO NOT remove focus altogether, just style to your colors */
.c-nav-bar :focus {
	outline: 1px dotted #fff;
}

.c-nav-bar a {
	color: #f4f4f4;
	border-bottom-color: rgba(255, 255, 255, .66);
}

.c-nav-bar__title {
	color: #f4f4f4;
}

/* TABLE OF CONTENTS DROPDOWN */

.c-toc__btn {
	background: #1f252c;
	color: #fff;
}

.c-toc__btn:hover,
.c-toc__btn:focus {
	background: #343e4a;
}

.c-toc__btn:active {
	background: #424f5e;
}

.c-toc__arrow path {
	stroke: #fff;
}

.c-toc__items {
	padding-left: 0;
	background: #2d3640;
}

.c-toc__item a:hover {
	background: #1f252c;
}

/*
 *	COMPONENT: TOGGLE ANIMATIONS BUTTON
 *	---------------------------------------------
 */

.c-toggle-anim {
	padding: .75em .75em .625em;
}

/*
 *	COMPONENT: HEADINGS THAT ARE CSS PROPERTIES
 *	---------------------------------------------
 */

@media (min-width: 36em) {
	.c-property-heading {
		white-space: nowrap;
	}
}

@media (min-width: 36em) and (max-width: 48em) {
	.c-property-heading {
		font-size: 2.5em;
	}
}

@media (min-width: 48em) and (max-width: 64em) {
	.c-property-heading {
		font-size: 3em;
	}
}

/*
 *	COMPONENT: FEATURE PARAGRAPH
 *	---------------------------------------------
 */

.c-feature-para {
	font-size: 1.125em;
	font-family: "Variable Sitka", Sitka, Georgia, serif;
	color: #57687c;
}

/*
 *	INTRO / POEM
 *	=============================================
 */

.intro {
	position: relative;
	overflow: hidden;
	background: #424f5e;
}

.intro__section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	min-height: calc(100vh - 3em);
	padding: 3em 0;
	text-align: center;
}

.intro__masthead,
.intro__actions {
	position: relative;
	z-index: 20;
}

.intro__masthead {
	padding: 3em;
	line-height: 1;
	background: #fff;
}

.intro__heading {
	font-variation-settings: "wdth" 90;
}

.intro__var-1 {
	font-weight: 300;
	font-variation-settings: "wdth" 75;
}

.intro__var-2 {
	font-weight: 450;
	font-variation-settings: "wdth" 80;
}

.intro__var-3 {
	font-weight: 600;
	font-variation-settings: "wdth" 85;
}

.intro__actions {
	display: inline-block;
	margin: 4em auto 0;
	background: hsla(0, 0%, 0%, .33);
}

.intro__subheading {
	margin-top: .5em;
	font-size: 1.5em;
	font-weight: 300;
	font-variation-settings: "wdth" 85;
}

.poem-start {
	display: inline-block;
	position: relative;
	z-index: 10;
	margin: .33em;
	padding: .5em .75em;
	font: 1.5em/1 "Variable Bahnschrift", "FF DIN", "Franklin Gothic", "Helvetica Neue", sans-serif;
	text-decoration: none;
	background: #fff;
	color: #424f5e;
	box-shadow: 0 0 0 0 #fff;
}

body.has-anim .poem-start {
	transition: box-shadow 200ms ease-out;
}

.poem-start svg {
	display: inline-block;
	margin-left: .25em;
	vertical-align: top;
}

.poem-start:hover {
	color: #262d36;
	box-shadow: 0 0 0 .33em #fff;
}

.poem-start:hover svg * {
	stroke: #262d36;
}

.poem-start:active,
.poem-start:focus {
	color: #000;
}

.poem-start:active svg *,
.poem-start:focus svg * {
	stroke: #000;
}

.poem-start:focus {
	outline: .33em solid hsla(0, 0%, 0%, .33);
}

.poem-viewer {
	position: relative;
	z-index: 20;
	margin: 3em auto;
	width: 90%;
	max-width: 32rem;
	overflow: hidden;
	background: #fff;
}

.poem {
	display: flex;
	width: 600%; /* Accommodate 6 slides */
}

body.has-anim .poem {
	transition: transform 400ms ease-out;
}

.poem__slide {
	margin-top: 0;
	padding: 1.5em;
	width: 100%;
	position: relative;
	font-family: "Variable Sitka", Sitka, Georgia, serif;
}

.poem__masthead {
	color: #424f5e;
}

.poem__masthead-prefix {
	display: block;
	margin-bottom: .75rem;
	font-weight: 400;
	font-size: .825rem;
	text-transform: uppercase;
	letter-spacing: .05em;
}

.poem__masthead-title {
	font-weight: 350;
	font-variation-settings: "wdth" 75;
	line-height: 1;
	text-transform: none;
	letter-spacing: 0;
}

.poem__byline {
	font-size: .875em;
	text-transform: uppercase;
	letter-spacing: .25em;
}

.poem__anchor {
	margin: 2em auto;
}

.poem__description {
	margin-top: 0;
}

.poem__stanza {
	margin-top: 1.5em;
	text-align: left;
}

.poem__stanza:first-child {
	margin-top: 0;
}

.poem__line {
	display: block;
	margin-top: .5em;
	line-height: 1.3;
}

.poem__line:first-child {
	margin-top: 0;
}

/* Don't break animated phrases between lines */
.poem__line span[class] {
	white-space: nowrap;
}

body.has-anim .poem__line > span {
	color: transparent;
	background: linear-gradient(to var(--demo-vf-reveal-direction), #fff 0%, #fff 100%, #fff 0, #444 100%);
	background-clip: text;
	-webkit-background-clip: text;
	animation: reveal-fade 1500ms forwards;
	animation-play-state: paused;

	--demo-vf-reveal-direction: left;
}

@keyframes reveal-fade {
	from {
		background-image: linear-gradient(to var(--demo-vf-reveal-direction), #fff 0%, #fff 100%, #fff 0, #444 100%);
	}
	to {
		background-image: linear-gradient(to var(--demo-vf-reveal-direction), #fff 0%, #fff 0%, #000 0, #000 100%);
	}
}

body.has-anim #no-gradient-transition-test {
	background: linear-gradient(to right, #444 0%, #444 50%, #fff 50%, #fff 100%);
	animation: reveal-fade-test 2s infinite forwards;
	animation-delay: -1s;
	animation-play-state: paused;
}

@keyframes reveal-fade-test {
	from {
		background-image: linear-gradient(1deg, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .5) 100%);
	}
	to {
		background-image: linear-gradient(1deg, rgba(0, 0, 0, .5) 0%, rgba(128, 128, 128, .5) 100%);
	}
}

body.has-anim.no-gradient-transition .poem__line > span {
	background: linear-gradient(to right, #444 0%, #444 50%, #fff 50%, #fff 100%);
	background-position-x: 100%;
	background-size: 200%;
	background-clip: text;
	-webkit-background-clip: text;
	animation-name: reveal-fade-fallback;
}

@keyframes reveal-fade-fallback {
	from {
		background-position-x: 100%;
	}
	to {
		background-position-x: 0%;
	}
}

/* Phrase animations; have the end state set on page load (and reset on current slide) so layout calculates correctly */
.poem__slide:not([data-current]) .bolden {
	font-weight: 700 !important;
}

.poem__slide:not([data-current]) .boldish {
	font-weight: 600 !important;
}

body.has-anim .poem__line > span > span[class] {
	animation-play-state: paused;
}

body.has-anim .poem__line > span > .bolden {
	animation: bolden 300ms forwards;
}

body.has-anim .poem__line > span > .boldish {
	animation: boldish 300ms forwards;
}

body.has-anim .poem__line > span > .space-out {
	letter-spacing: .1em;
	animation: spaceOut 300ms forwards;
}

.poem__slide[data-current] .poem__line > span > .space-out {
	letter-spacing: 0;
}

@keyframes bolden {
	from {
		font-weight: 400;
	}
	to {
		font-weight: 700;
	}
}

@keyframes boldish {
	from {
		font-weight: 400;
	}
	to {
		font-weight: 600;
	}
}

@keyframes spaceOut {
	from {
		letter-spacing: 0;
	}
	to {
		letter-spacing: .1em;
	}
}

.poem__controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1em 1.75em;
	border-top: 1px solid #c7cfd8;
}

.poem__controls li {
	margin-top: .75em;
}

.poem__controls button {
	padding: .75em;
	line-height: 1;
	background-color: transparent;
	transition: background-color 200ms ease-out;
}

.poem__controls button:hover {
	outline: 0;
	background-color: #eff1f4;
}

.poem__controls button:hover svg {
	stroke: #2d3640;
}

.poem__controls button:active {
	background-color: #c7cfd8;
}

.poem__controls button:disabled {
	opacity: .4;
}

.poem__controls button:disabled:hover {
	background: transparent;
	cursor: not-allowed;
}

@media (min-width: 36em) {
	.intro__section {
		padding: 6em 0;
	}

	.poem__slide {
		padding: 2.75em;
	}

	.poem__stanza {
		font-size: 1.25em;
	}

	.poem__controls {
		margin: 0 2.75em 2em;
	}
}

@media (min-width: 48em) {
	.poem__slide {
		padding: 4em;
	}

	.poem__controls {
		margin: 0 4em 3.25em;
	}
}

.ice-floes {
	display: block;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 50%;
	margin-left: -683px;
	width: 1366px;
	height: 100%;
	transform: translateZ(0);
	will-change: transform;
}

body.has-anim .ice-floes > path {
	transform: translate(0, 0);
	transition: transform 5s ease-out, opacity 5s  ease-in-out;
}

body:not(.has-anim) .ice-floes:not(.drift-started) > path {
	transform: none !important;
	opacity: 1 !important;
}

@media (min-width: 85em) and (min-height: 44em) {
	.ice-floes {
		left: 0;
		margin: 0;
		width: 100%;
	}
}

/*
 *	SECTION: WEB TYPOGRAPHY
 *	=============================================
 */

/* Overlap the "timeline" on this section */
.l-section--web-type {
	margin-top: -10vmin;
}

.l-section--web-type::before {
	top: -2em;
}

.soul-wrap {
	text-align: center;
}

@media (min-width: 60em) {
	.soul-wrap {
		align-self: center;
	}
}

/*
 *	SYSTEM / SOUL PULL QUOTE
 *	---------------------------------------------
 */

.soul {
	display: none;
}

@supports (display: inline-grid) {
	.soul {
		display: inline-grid;
		grid-template-columns: [lm-start] auto [lm-end cl-start] auto [cl-end cm-start] auto [cm-end cr-start] auto [cr-end co-start] auto [co-end rm-start] auto [rm-end];
		margin: 0 auto;
		padding: 2em;
		font-family: "Variable Bahnschrift", "FF DIN", "Franklin Gothic", "Helvetica Neue", sans-serif;
		font-feature-settings: "kern" 1;
		color: #424f5e;
	}

	.soul > span {
		display: block;
		line-height: 1;
	}

	.soul > .soul__ldquo,
	.soul > .soul__rdquo {
		line-height: 0;
	}

	.soul__ldquo {
		position: relative;
		top: .35em;
		grid-row: 1 / span 6;
		grid-column: lm;
		padding-right: .1em;
		font-size: 700%;
	}

	.soul__currentl,
	.soul__y {
		font-weight: 600;
		font-size: 300%;
	}

	.soul__currentl {
		grid-column: cl-start / span cr-end;
		text-align: right;
	}

	.soul__y {
		grid-column: co-start / span co-end;
	}

	.soul__web {
		grid-column: cl-start / span cm-start;
		font-size: 125%;
		text-align: justify;
		text-align-last: justify;
	}

	.soul__is {
		position: relative;
		grid-column: cl-start / span cm-start;
		text-align: center;
		text-align-last: center;
		background: linear-gradient(to bottom, #fff 0%, #fff 45%, #424f5e 45%, #424f5e 55%, #fff 55%, #fff 100%);
	}

	.soul__is span {
		padding: 0 .5em;
		background: #fff;
	}

	.soul__all,
	.soul__system {
		font-weight: 900;
		font-weight: 999;
		font-size: 275%;
		text-align: justify;
		text-align-last: justify;
	}

	.soul__all {
		position: relative;
		top: .1em;
		grid-row: 2 / span 2;
		grid-column: cm-start / span cr-end;
		align-self: center;
		padding-left: 14px;
		line-height: 0;
	}

	.soul__all:first-child,
	.soul__system:first-child {
		background-clip: text;
		-webkit-background-clip: text;
	}

	span[zw] {
		font-size: 1px;
	}

	.soul__system {
		grid-column: cl-start / span cr-end;
		text-justify: distribute;
	}

	.soul__no-soul {
		position: relative;
		grid-column: cl-start / span cr-end;
		font-size: 200%;
		text-align: right;
	}

	.soul__rdquo {
		position: relative;
		top: -.1em;
		grid-row: 5 / span 1;
		grid-column: co-start / span rm-end;
		padding-left: .1em;
		font-size: 700%;
	}

	.soul__jason {
		grid-row: 6 / span 1;
		grid-column: cl-start / span rm-end;
		padding-top: .33em;
		font-size: 150%;
		text-align: right;
	}

	@media (max-width: 48em) {
		.soul-wrap {
			margin: 3em auto 1em;
			background: #e5ebf0;
		}

		.soul__is {
			background: linear-gradient(to bottom, #e5ebf0 0%, #e5ebf0 45%, #424f5e 45%, #424f5e 55%, #e5ebf0 55%, #e5ebf0 100%);
		}

		.soul__is span {
			padding: 0 .5em;
			background: #e5ebf0;
		}
	}
}

/*
 *	SECTION: FONT-VARIATION-SETTINGS
 *	=============================================
 */

/*
 *	TICKET
 *	---------------------------------------------
 */

.ticket-wrap {
	text-align: center;
}

.ticket {
	display: inline-block;
	margin: 0 auto;
	border: 2px solid #9facbc;
	font-family: "Variable Bahnschrift", "FF DIN", "Franklin Gothic", "Helvetica Neue", sans-serif;
	font-feature-settings: "kern" 1;
	background: #fff;
}

.ticket__header {
	margin: 0;
	padding: 1.5em;
	background: #f4f5f6;
}

.ticket__co span,
.ticket__route span {
	display: block;
}

.ticket__co {
	display: inline-block;
	position: relative;
	padding-left: 5em;
	line-height: 1;
	color: #5e7186;
}

.ticket__co-icon {
	position: absolute;
	top: 50%;
	margin-top: -2em;
	left: 0;
	width: 4em;
	height: auto;
}

.ticket__co-name {
	font-size: 2.5em;
	font-variation-settings: "wght" 500, "wdth" 75;
	letter-spacing: -.01em;
}

.ticket__co-subname {
	font-variation-settings: "wght" 700;
	color: #506072;
}

.ticket__body {
	padding: 2rem 1.25em 1.25em;
}

.ticket__route {
	font-variation-settings: "wght" 300;
	font-size: 2em;
	line-height: 1.1;
}

.ticket__description {
	margin-top: .5em;
	font-variation-settings: "wght" 350;
	font-size: 1.125em;
	color: #506072;
}

.ticket__timing {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	padding: 1rem 0;
	border-top: 2px solid #9facbc;
	border-bottom: 2px solid #9facbc;
	text-align: left;
}

.ticket__timing p {
	margin: 0 1rem 0 0;
	padding-right: 1rem;
	border-right: 2px solid #9facbc;
	line-height: 1;
}

.ticket__timing p:last-child {
	margin: 0;
	padding: 0;
	border-right: 0;
}

.ticket__small-label {
	display: block;
	margin-bottom: .5em;
	font-variation-settings: "wght" 300;
	font-size: .875em;
	color: #506072;
}

.ticket__detail {
	font-variation-settings: "wght" 700;
	font-size: 1.25em;
	color: #424f5e;
}

.ticket__admit {
	margin-top: 2rem;
	font-size: 2.5em;
	font-variation-settings: "wght" 700, "wdth" 85;
	line-height: 1;
	color: #657990;
}

.ticket__fine-print {
	margin-top: 1rem;
	font-variation-settings: "wdth" 75;
	color: #666;
}

.ticket__barcode {
	margin-top: 1.25em;
	width: 299px;
	max-width: 100%;
}

@media (min-width: 36em) {
	.ticket-wrap {
		margin-bottom: 4em;
		text-align: center;
	}

	.ticket {
		margin: 0 auto;
		transform: rotate(6deg);
	}

	.ticket__header {
		margin: 0;
		padding: 2em;
	}

	.ticket__body {
		padding: 3rem 2em 2em;
	}

	.ticket__detail {
		font-size: 1.75em;
	}

	.ticket__admit {
		margin-top: 2rem;
	}
}

@supports (display: grid) {
	@media (min-width: 72em) {
		.ticket-info,
		.ticket-wrap {
			align-self: center;
		}

		.ticket-wrap {
			order: 2;
			margin-bottom: 0;
		}

		.ticket-info {
			order: 1;
		}
	}
}


/*
 *	ANIMATING AXES : A single font example
 *	---------------------------------------------
 */

.vf-decovar {
	line-height: 5em;
	font-size: 5em;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.vf-decovar__text {
	font-family: "Decovar";
	line-height: 1em;
}

/* So that animating axes doesn't bounce from one line to another on narrow viewports */
.vf-decovar__text span {
	display: block;
}

body:not(.has-anim) .vf-decovar__text::before {
	display: block;
	content: "(Will not work right now, as animations are turned off)";
	margin-bottom: .5em;
	font: .875rem/1 base, "Segoe UI", Segoe, "Segoe WP", "Lucida Grande", "Lucida Sans", Verdana, sans-serif;
	text-align: center;
}

body.has-anim .vf-decovar.is-in-view .vf-decovar__text {
	animation: variationSettings 10s infinite;
}

@keyframes variationSettings {
	0% {
		font-variation-settings: "BLDA" 0, "TRMD" 0, "TRMC" 0, "SKLD" 0, "TRML" 0, "SKLA" 0, "TRMF" 0, "TRMK" 0, "BLDB" 0, "WMX2" 0, "TRMB" 0, "TRMA" 0, "SKLB" 0, "TRMG" 0, "TRME" 0;
	}
	10% {
		font-variation-settings: "BLDA" 500, "TRMD" 0, "TRMC" 0, "SKLD" 0, "TRML" 0, "SKLA" 0, "TRMF" 0, "TRMK" 0, "BLDB" 0, "WMX2" 0, "TRMB" 0, "TRMA" 0, "SKLB" 0, "TRMG" 0, "TRME" 0;
	}
	20% {
		font-variation-settings: "BLDA" 0, "TRMD" 0, "TRMC" 1000, "SKLD" 326.389, "TRML" 0, "SKLA" 0, "TRMF" 0, "TRMK" 0, "BLDB" 0, "WMX2" 0, "TRMB" 0, "TRMA" 0, "SKLB" 0, "TRMG" 0, "TRME" 0;
	}
	30% {
		font-variation-settings: "BLDA" 0, "TRMD" 0, "TRMC" 0, "SKLD" 0, "TRML" 1000, "SKLA" 0, "TRMF" 0, "TRMK" 0, "BLDB" 0, "WMX2" 0, "TRMB" 0, "TRMA" 0, "SKLB" 0, "TRMG" 0, "TRME" 0;
	}
	40% {
		font-variation-settings: "BLDA" 0, "TRMD" 0, "TRMC" 0, "SKLD" 0, "TRML" 0, "SKLA" 784.722, "TRMF" 0, "TRMK" 0, "BLDB" 0, "WMX2" 303.241, "TRMB" 0, "TRMA" 0, "SKLB" 0, "TRMG" 0, "TRME" 0;
	}
	50% {
		font-variation-settings: "BLDA" 0, "TRMD" 0, "TRMC" 0, "SKLD" 0, "TRML" 0, "SKLA" 0, "TRMF" 0, "TRMK" 0, "BLDB" 0, "WMX2" 303.241, "TRMB" 0, "TRMA" 0, "SKLB" 0, "TRMG" 0, "TRME" 0;
	}
	60% {
		font-variation-settings: "BLDA" 0, "TRMD" 1000, "TRMC" 0, "SKLD" 0, "TRML" 0, "SKLA" 0, "TRMF" 372.685, "TRMK" 0, "BLDB" 1000, "WMX2" 0, "TRMB" 0, "TRMA" 0, "SKLB" 0, "TRMG" 1000, "TRME" 0;
	}
	70% {
		font-variation-settings: "BLDA" 0, "TRMD" 1000, "TRMC" 0, "SKLD" 0, "TRML" 0, "SKLA" 0, "TRMF" 372.685, "TRMK" 0, "BLDB" 0, "WMX2" 0, "TRMB" 0, "TRMA" 0, "SKLB" 761.574, "TRMG" 1000, "TRME" 0;
	}
	80% {
		font-variation-settings: "BLDA" 0, "TRMD" 0, "TRMC" 0, "SKLD" 0, "TRML" 0, "SKLA" 0, "TRMF" 0, "TRMK" 0, "BLDB" 275.463, "WMX2" 344.907, "TRMB" 0, "TRMA" 1000, "SKLB" 761.574, "TRMG" 0, "TRME" 0;
	}
	90% {
		font-variation-settings: "BLDA" 0, "TRMD" 548.611, "TRMC" 298.611, "SKLD" 173.611, "TRML" 1000, "SKLA" 0, "TRMF" 0, "TRMK" 0, "BLDB" 0, "WMX2" 0, "TRMB" 409.722, "TRMA" 53.241, "SKLB" 594.907, "TRMG" 0, "TRME" 0;
	}
	100% {
		font-variation-settings: "BLDA" 0, "TRMD" 0, "TRMC" 0, "SKLD" 0, "TRML" 0, "SKLA" 0, "TRMF" 0, "TRMK" 0, "BLDB" 0, "WMX2" 0, "TRMB" 0, "TRMA" 0, "SKLB" 0, "TRMG" 0, "TRME" 0;
	}
}

@media (min-width: 48em) {
	.vf-decovar {
		line-height: 10em;
		font-size: 10em;
	}

	.vf-decovar__text span {
		display: inline;
	}
}

/*
 *	SECTION: FONT-OPTICAL-SIZING
 *	=============================================
 */

.vf-optical-sizing table {
	max-width: 100%;
}

.vf-optical-sizing tbody {
	font-family: "Variable Sitka";
}

.vf-optical-sizing th,
.vf-optical-sizing td {
	padding: 1rem 1.25rem;
	line-height: 1;
}

.vf-optical-sizing th:first-child,
.vf-optical-sizing td:first-child {
	padding-left: 0;
	width: auto;
}

.vf-optical-sizing__off {
	font-optical-sizing: none;
}

.vf-optical-sizing__72pt {
	font-size: 72pt;
}

.vf-optical-sizing__36pt {
	font-size: 36pt;
}

.vf-optical-sizing__12pt {
	font-size: 12pt;
}

@media (max-width: 36em) {
	.vf-optical-sizing__72pt {
		font-size: 48pt;
	}

	.vf-optical-sizing__36pt {
		font-size: 24pt;
	}
}

@media (max-width: 80em) {
	.vf-optical-sizing th,
	.vf-optical-sizing td {
		width: 50%;
	}

	.vf-optical-sizing td {
		word-break: break-all;
	}
}

/*
 *	SECTION: DESIGN TOOLS
 *	=============================================
 */

.c-tool:nth-child(odd) {
	background: #fff;
}

/*
 *	SECTION: RESOURCES
 *	=============================================
 */

.resources-grid {
	grid-gap: 2em;
	max-width: 64rem;
}

.c-resource-list {
	list-style: none;
}

.snowflake {
	display: inline-block;
	margin-top: .2em;
	height: 1em;
	vertical-align: top;
}

/*
 *	SECTION: OUTRO
 *	=============================================
 */

.c-outro {
	margin: 0; /* Override .l-section margin */
	z-index: 300;
	background: #424f5e;
	color: #efefef;
}

/* Angled edge */
.c-outro::before {
	top: -15vmin;
	top: calc(-15vmin + 1px);
	border-bottom: 15vmin solid #424f5e;
}

.c-outro :focus {
	outline: 1px dotted #fff;
}

.c-outro a {
	color: #efefef;
}

.c-outro a:hover {
	color: #fff;
}

a.c-outro__github {
	position: relative;
	border: 0;
	background: #efefef;
	color: #424f5e;
	font: 550 1em/1 "Variable Bahnschrift", "FF DIN", "Franklin Gothic", "Helvetica Neue", sans-serif;
}

body.has-anim a.c-outro__github {
	transition: transform 200ms ease-out;
}

/* Faux "cropped" corners */
a.c-outro__github::before,
a.c-outro__github::after {
	display: block;
	content: "";
	position: absolute;
	z-index: 1;
	width: 0;
}

a.c-outro__github::before {
	left: 0;
	top: 0;
	border-top: 8px solid #424f5e;
	border-right: 8px solid transparent;
}

a.c-outro__github::after {
	right: 0;
	bottom: 0;
	border-bottom: 8px solid #424f5e;
	border-left: 8px solid transparent;
}

a.c-outro__github path {
	fill: #424f5e;
}

a.c-outro__github span {
	position: relative;
	z-index: 2;
}

a.c-outro__github:hover {
	background: #fff;
	color: #262d36;
	transform: translateX(4px);
}

a.c-outro__github:hover path {
	fill: #424f5e;
}

a.c-outro__github:active {
	color: #000;
}

a.c-outro__github:active path {
	fill: #000;
}