/*
 *	=============================================
 *	VARIABLE FONTS
 *	---------------------------------------------
 *	Z-INDEX KEY
 *	Increments of 10
 *
 *	Intro: 1-100
 *	Other sections: 110-200
 *	=============================================
 */

body {
	color: #444;

	/* Hide overflow from angled edges */
	overflow-x: hidden;
}

/* DO NOT remove focus altogether, just style to your colors */
:focus {
	outline: 1px dotted #000;
}

::-moz-selection {
	background: #c7d4de;
}

::selection {
	background: #c7d4de;
	color: #000;
}

a:link, a:visited {
	color: #424f5e;
}

a:hover {
	color: #5e7186;
}

/*
 *	UNIVERSAL STYLES
 *	=============================================
 */

/*
 *	TYPOGRAPHY
 *	---------------------------------------------
 */

h1, h2, h3, .h3 {
	font-family: "Variable Bahnschrift", "FF DIN", "Franklin Gothic", "Helvetica Neue", sans-serif;
}

h1, h2 {
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: .03em;
	color: #424f5e;
}

h1 {
	font-weight: 700;
	font-size: 2.75em;
}

h2 {
	font-size: 2.25em;
}

.guide-content h2 {
	opacity: .8;
	font-weight: 100;

	/* TranslateZ sends el to its own rendering layer */
	transform: scale(.8) translateZ(1px);
	transition: font-weight 1s, opacity 1s, transform 1s;
}

.guide-content h2.in-view {
	opacity: .99;
	font-weight: 900;
	transform: scale(1) translateZ(1px);
}

h3,
.h3 {
	font-weight: 400;
	font-size: 1.25em;
	color: #57687c;
}

h2,
h3,
p,
ul,
ol,
pre {
	margin-right: auto;
	margin-left: auto;
	max-width: 36rem;
}

pre {
	margin-top: 1.5em;
}

pre code {
	display: block;
	padding: 1em;
	border: 3px solid #57687c;
	font-size: 1.125em;
	tab-size: 3;
	color: #424f5e;
}

@media (min-width: 36em) {
	h1 {
		font-size: 5em;
	}

	h2 {
		font-size: 4em;
	}
}

/*
 *	FORM ELEMENTS
 *	---------------------------------------------
 */

button:hover {
	cursor: pointer;
}

/*
 *	MEDIA + CODE
 *	---------------------------------------------
 */

figure {
	text-align: center;
}

figure + * {
	margin-top: 2em;
}

img {
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}

.caption {
	margin: 1em auto 0;
	max-width: 24em;
	font: 350 1em/1.2 "Variable Bahnschrift", "FF DIN", "Franklin Gothic", "Helvetica Neue", sans-serif;
	font-variation-settings: "wdth" 75;
	letter-spacing: .01em;
	text-align: left;
	color: #666;
}

/*
 *	UTILITIES
 *	=============================================
 */

.u-upper {
	text-transform: uppercase;
	letter-spacing: .02em;
}

/*
 *	ANGLED EDGES
 *	---------------------------------------------
 */

.guide-content,
.c-ex:nth-child(even),
.c-outro {
	position: relative;
}

.guide-content::before,
.c-ex:nth-child(even)::before,
.c-outro::before {
	display: block;
	position: absolute;
	z-index: 110;
	content: "";
	left: 0;
	width: 0;
	border-left: 100vw solid transparent;
}

/*
 *	GUIDE CONTENT
 *	---------------------------------------------
 */

/* Padding accounts for angled edges, z-index + bg to slide over the ice floes */
.guide-content {
	z-index: 100;
	padding: 2vmin 0 25vmin;
	background: #fff;
}

/* Angled edge */
.guide-content::before {
	top: -15vmin;
	border-bottom: 15vmin solid #fff;
}

/*
 *	LAYOUT
 *	=============================================
 */

/*
 *	LAYOUT: GRID
 *	---------------------------------------------
 */

[class*="l-col-"] {
	margin-top: 1.5em;
}

@media (min-width: 48em) {
	.l-grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 3em;
	}

	.l-col-quarter {
		-ms-grid-column-span: 3;
		grid-column: span 3;
	}

	.l-col-three-quarters {
		-ms-grid-column-span: 9;
		grid-column: span 9;
	}

	.l-col-half {
		-ms-grid-column-span: 6;
		grid-column: span 6;
	}

	.l-col-third {
		-ms-grid-column-span: 4;
		grid-column: span 4;
	}

	.l-col-two-thirds {
		-ms-grid-column-span: 8;
		grid-column: span 8;
	}

	@supports (display: grid) or (display: -ms-grid) {
		[class*="l-col-"] {
			margin-top: 0;
		}
	}
}

/*
 *	LAYOUT: SECTION, HEADER, BODY
 *	---------------------------------------------
 */

.l-section__header {
	text-align: center;
}

.l-section__header > * {
	margin-right: auto;
	margin-left: auto;
}

.l-section__body {
	margin-top: 2em;
}

/* Special section that has the line leading to it */
.l-section--timeline {
	position: relative;
	padding-top: 9em;
}

.l-section--timeline::before {
	display: block;
	content: "";
	position: absolute;
	z-index: 120;
	top: -1em;
	left: 50%;
	margin-left: -1px;
	width: 1px;
	height: 7em;
	background: linear-gradient(to bottom, #424f5e 0%, #fff 100%);
	opacity: .01;
	transform: scaleY(0) translateZ(1px);
	transform-origin: 50% 0%;
	transition: all .5s;
}

.l-section--timeline::before {
	opacity: .99;
	transform: scaleY(1) translateZ(1px);
	background: linear-gradient(to bottom, #424f5e 0%, #424f5e 100%);
}

@media (min-width: 48em) {
	.l-section__body {
		margin-top: 3em;
	}
}

@media (min-width: 64em) {
	.l-section--timeline {
		padding-top: 15em;
	}

	.l-section--timeline::before {
		height: 14em;
	}
}

/*
 *	REUSABLE OBJECTS / COMPONENTS
 *	=============================================
 */

/*
 *	COMPONENT: NAV BAR
 *	---------------------------------------------
 */

.c-nav-bar {
	z-index: 8000;
	background: #1f252c;
	color: #ccc;
}

/* DO NOT remove focus altogether, just style to your colors */
.c-nav-bar :focus {
	outline: 1px dotted #fff;
}

.c-nav-bar a {
	color: #f4f4f4;
	border-bottom-color: rgba(255, 255, 255, .66);
}

.c-nav-bar__title {
	color: #f4f4f4;
}

/* TABLE OF CONTENTS DROPDOWN */

.c-toc__btn {
	background: #1f252c;
	color: #fff;
}

.c-toc__btn:hover,
.c-toc__btn:focus {
	background: #343e4a;
}

.c-toc__btn:active {
	background: #424f5e;
}

.c-toc__arrow path {
	stroke: #fff;
}

.c-toc__items {
	background: #2d3640;
}

.c-toc__item a:hover {
	background: #1f252c;
}

/*
 *	OBJECT: LONG TEXT
 *	---------------------------------------------
 */

.o-long-text {
	-webkit-columns: 3 16em;
	-moz-columns: 3 16em;
	columns: 3 16em;
	-webkit-column-gap: 2em;
	-moz-column-gap: 2em;
	column-gap: 2em;
}

/*
 *	COMPONENT: TOGGLE
 *	---------------------------------------------
 */

.c-toggle {
	display: inline-block;
	margin: 1em auto 0;
	position: relative;
}

.c-toggle input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.c-toggle label,
.c-toggle__hex,
.c-toggle__hex path {
	transition: all 200ms ease-out;
}

.c-toggle label {
	position: relative;
	padding-left: 48px;
	color: #57687c;
	font: 1em/1 "Variable Bahnschrift", "FF DIN", "Franklin Gothic", "Helvetica Neue", sans-serif;
}

.c-toggle label:hover {
	cursor: pointer;
}

.c-toggle label::before,
.c-toggle__hex {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
}

.c-toggle label::before {
	border: 2px solid #57687c;
	border-radius: 18px;
	width: 36px;
	height: 18px;
}

.c-toggle__hex {
	left: 6px;
	width: 12px;
	height: 10px;
}

/* Checked toggle */
.c-toggle input:checked + label::before {
	background: #57687c;
}

input:checked + label .c-toggle__hex {
	left: 24px;
}

input:checked + label .c-toggle__hex path {
	fill: #fff;
}

/*
 *	WORD BY WORD ANIMATIONS
 *	Used in the poem and in the Jason P. quote
 *	---------------------------------------------
 */

.poem__line > span,
.jason-quote > span {
	color: transparent;
	background: linear-gradient(to var(--demo-vf-reveal-direction), white 0%, white 100%, white 0px, darkgray 100%);
	background-clip: text;
	-webkit-background-clip: text;
	animation: reveal-fade 1500ms forwards;
	animation-play-state: paused;

	--demo-vf-reveal-direction: left;
}

@keyframes reveal-fade {
	from {
		background-image: linear-gradient(to var(--demo-vf-reveal-direction), white 0%, white 100%, white 0px, darkgray 100%);
	}
	to {
		background-image: linear-gradient(to var(--demo-vf-reveal-direction), white 0%, white 0%, black 0px, black 100%);
	}
}

#no-gradient-transition-test {
	background: linear-gradient(to right, #444 0%, #444 50%, #fff 50%, #fff 100%);
	animation: reveal-fade-test 2s infinite forwards;
	animation-delay: -1s;
	animation-play-state: paused;
}

@keyframes reveal-fade-test {
	from {
		background-image: linear-gradient(1deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
	}
	to {
		background-image: linear-gradient(1deg, rgba(0, 0, 0, 0.5) 0%, rgba(128, 128, 128, 0.5) 100%);
	}
}

.no-gradient-transition .poem__line > span,
.no-gradient-transition .jason-quote > span {
	background: linear-gradient(to right, #444 0%, #444 50%, #fff 50%, #fff 100%);
	background-position-x: 100%;
	background-size: 200%;
	background-clip: text;
	-webkit-background-clip: text;
	animation-name: reveal-fade-fallback;
}

@keyframes reveal-fade-fallback {
	from {
		background-position-x: 100%;
	}
	to {
		background-position-x: 0%;
	}
}

/*
 *	DEMO SECTIONS
 *	=============================================
 */

/*
 *	INTRO / POEM
 *	---------------------------------------------
 */

.intro {
	position: relative;
	overflow: hidden;
	background: #424f5e;
}

.intro__section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	min-height: calc(100vh - 3em);
	padding: 3em 0;
	text-align: center;
}

.intro__masthead,
.intro__actions {
	position: relative;
	z-index: 20;
}

.intro__masthead {
	padding: 3em;
	line-height: 1;
	background: #fff;
}

.intro__heading {
	font-variation-settings: "wdth" 90;
}

.intro__var-1 {
	font-weight: 300;
	font-variation-settings: "wdth" 75;
}

.intro__var-2 {
	font-weight: 450;
	font-variation-settings: "wdth" 80;
}

.intro__var-3 {
	font-weight: 600;
	font-variation-settings: "wdth" 85;
}

.intro__actions {
	display: inline-block;
	margin: 4em auto 0;
	background: hsla(0, 0%, 0%, .33);
}

.intro__subheading {
	margin-top: .5em;
	font-size: 1.5em;
	font-weight: 300;
	font-variation-settings: "wdth" 85;
}

.poem-start {
	display: inline-block;
	position: relative;
	z-index: 10;
	margin: .33em;
	padding: .5em .75em;
	font: 1.5em/1 "Variable Bahnschrift", "FF DIN", "Franklin Gothic", "Helvetica Neue", sans-serif;
	text-decoration: none;
	background: #fff;
	color: #424f5e;
	box-shadow: 0 0 0 0 #fff;
	transition: box-shadow 200ms ease-out;
}

.poem-start svg {
	display: inline-block;
	margin-left: .25em;
	vertical-align: top;
}

.poem-start:hover {
	color: #262d36;
	box-shadow: 0 0 0 .33em #fff;
}

.poem-start:hover svg * {
	stroke: #262d36;
}

.poem-start:active,
.poem-start:focus {
	color: #000;
}

.poem-start:active svg *,
.poem-start:focus svg * {
	stroke: #000;
}

.poem-start:focus {
	outline: .33em solid hsla(0, 0%, 0%, .33);
}

.ice-floes {
	display: block;
	position: fixed;
	z-index: 1;
	top: 50%;
	margin-top: -360px;
	left: 50%;
	margin-left: -683px;
}

.ice-floes > path {
	transform: translate(0, 0);
	transition: transform 5s ease-out, opacity 5s  ease-in-out;
}

.poem-viewer {
	position: relative;
	z-index: 20;
	margin: 3em auto;
	width: 90%;
	max-width: 32rem;
	overflow: hidden;
	background: #fff;
}

.poem {
	display: flex;
	width: 600%; /* Accommodate 6 slides */
	transition: transform 400ms ease-out;
}

.poem__slide {
	margin-top: 0;
	padding: 1.5em;
	width: 100%;
	position: relative;
	font-family: "Variable Sitka", Sitka, Georgia, serif;
}

.poem__masthead {
	color: #424f5e;
}

.poem__masthead-prefix {
	display: block;
	margin-bottom: .75rem;
	font-weight: 400;
	font-size: .825rem;
	text-transform: uppercase;
	letter-spacing: .05em;
}

.poem__masthead-title {
	font-weight: 350;
	font-variation-settings: "wdth" 75;
	line-height: 1;
	text-transform: none;
	letter-spacing: 0;
}

.poem__byline {
	font-size: .875em;
	text-transform: uppercase;
	letter-spacing: .25em;
}

.poem__anchor {
	margin: 2em auto;
}

.poem__description {
	margin-top: 0;
}

.poem__stanza {
	/* For indented wrapped lines of poetry */
	margin-left: 1em;
	text-align: left;
}

.poem__line {
	display: block;
	margin-top: .25em;

	/* Indent wrapped lines of poetry */
	text-indent: -1em;
}

.poem__line:first-child {
	margin-top: 0;
}

/* Don't break animated phrases between lines */
.poem__line span[class] {
	white-space: nowrap;
}

/* Phrase animations; have the end state set on page load (and reset on current slide) so layout calculates correctly */
.poem__line > span > span[class] {
	animation-play-state: paused;
}

.poem__line > span > .bolden {
	font-weight: 700;
	animation: bolden 300ms forwards;
}

.poem__line > span > .boldish {
	font-weight: 600;
	animation: boldish 300ms forwards;
}

.poem__slide[data-current] .poem__line > span > .bolden,
.poem__slide[data-current] .poem__line > span > .boldish {
	font-weight: 400;
}

.poem__line > span > .space-out {
	letter-spacing: .1em;
	animation: spaceOut 300ms forwards;
}

.poem__slide[data-current] .poem__line > span > .space-out {
	letter-spacing: 0;
}

@keyframes bolden {
	from {
		font-weight: 400;
	}
	to {
		font-weight: 700;
	}
}

@keyframes boldish {
	from {
		font-weight: 400;
	}
	to {
		font-weight: 600;
	}
}

@keyframes spaceOut {
	from {
		letter-spacing: 0;
	}
	to {
		letter-spacing: .1em;
	}
}

.poem__controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1em 1.75em;
	border-top: 1px solid #c7cfd8;
}

.poem__controls li {
	margin-top: .75em;
}

.poem__controls button {
	padding: .75em;
	line-height: 1;
	background-color: transparent;
	transition: background-color 200ms ease-out;
}

.poem__controls button:hover {
	background-color: #eff1f4;
}

.poem__controls button:hover svg {
	stroke: #2d3640;
}

.poem__controls button:active {
	background-color: #c7cfd8;
}

.poem__controls button:disabled {
	opacity: .4;
}

.poem__controls button:disabled:hover {
	background: transparent;
	cursor: not-allowed;
}

@media (min-width: 36em) {
	.intro__section {
		padding: 6em 0;
	}

	.poem__slide {
		padding: 4em;
	}

	.poem__stanza {
		font-size: 1.25em;
	}

	.poem__controls {
		margin: 0 4em 3.25em;
	}
}

@media (min-width: 85em) and (min-height: 44em) {
	.ice-floes {
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		margin: 0;
		width: 100%;
		height: auto;
	}
}

/*
 *	SECTION: WHAT
 *	---------------------------------------------
 */

/* Overlap the "timeline" on this section */
.l-section--what {
	margin-top: -10vmin;
}

.l-section--what::before {
	top: -2em;
}

/* PULL QUOTE */
quote-grid {
	display: inline-grid;
	grid-template-columns: [lm-start] auto [lm-end cl-start] auto [cl-end cm-start] auto [cm-end cr-start] auto [cr-end co-start] auto [co-end rm-start] auto [rm-end];
	padding: 10px; padding-top: 20px;
	background: white;
	font-family: Bahnschrift;
}

quote-grid > span { display: block; line-height: 1em; }

span[zw] {
	font-size: 1px;
}


/*
 *	TICKET
 *	@TODO: Move this to appropriate section when
 *	when know where it's going
 *	---------------------------------------------
 */

.ticket {
	display: inline-block;
	margin: 1.25em;
	border: 2px solid #9facbc;
	font-family: "Variable Bahnschrift", "FF DIN", "Franklin Gothic", "Helvetica Neue", sans-serif;
	text-align: center;
}

.ticket > * {
	margin-right: 1.25em;
	margin-left: 1.25em;
}

.ticket__header {
	margin: 0;
	padding: 1.5em;
	background: #f4f5f6;
}

.ticket__co span,
.ticket__route span {
	display: block;
}

.ticket__co {
	display: inline-block;
	position: relative;
	padding-left: 5em;
	line-height: 1;
	color: #5e7186;
}

.ticket__co-icon {
	position: absolute;
	top: 50%;
	margin-top: -2em;
	left: 0;
	width: 4em;
	height: auto;
}

.ticket__co-name {
	font-size: 2.5em;
	font-weight: 500;
	font-variation-settings: "wdth" 75;
	letter-spacing: -.01em;
}

.ticket__co-subname {
	font-weight: 700;
	color: #506072;
}

.ticket__route {
	margin-top: 3rem;
	font-weight: 300;
	font-size: 2em;
}

.ticket__description {
	margin-top: 0;
	font-weight: 350;
	font-size: 1.125em;
	color: #506072;
}

.ticket__timing {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	padding: 1rem 0;
	border-top: 2px solid #9facbc;
	border-bottom: 2px solid #9facbc;
	text-align: left;
}

.ticket__timing p {
	margin: 0 1rem 0 0;
	padding-right: 1rem;
	border-right: 2px solid #9facbc;
	line-height: 1;
}

.ticket__timing p:last-child {
	margin: 0;
	padding: 0;
	border-right: 0;
}

.ticket__small-label {
	display: block;
	margin-bottom: .5em;
	font-size: 300;
	font-size: .875em;
	color: #506072;
}

.ticket__detail {
	font-weight: 700;
	font-size: 1.75em;
	color: #424f5e;
}

.ticket__admit {
	margin-top: 3rem;
	font-weight: 700;
	font-size: 2.5em;
	font-variation-settings: "wdth" 85;
	color: #657990;
}

.ticket__fine-print {
	margin-top: 1rem;
	font-variation-settings: "wdth" 75;
	color: #666;
}

.ticket__barcode {
	margin: .75em 1.25em 1.25em;
	width: 299px;
	max-width: 100%;
}

@media (min-width: 36em) {
	.ticket {
		transform: rotate(-6deg);
	}

	.ticket > * {
		margin-right: 2em;
		margin-left: 2em;
	}

	.ticket__header {
		margin: 0;
		padding: 2em;
	}

	.ticket__barcode {
		margin: .75em 2em 2em;
	}
}

/*
 *	SECTION: RWD
 *	---------------------------------------------
 */

.c-ex {
	background: #fff;
}

.c-ex__demo {
	margin-top: 1.5em;
}

/* Every other example */
.c-ex:nth-child(even) {
	margin-top: 20vmin;
	background: #f2f3f4;
}

.c-ex:nth-child(even)::before {
	top: -15vmin;
	border-bottom: 15vmin solid #f2f3f4;
}

@media (min-width: 48em) {
	.c-ex__grid {
		display: -ms-grid;
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
	}

	.c-ex__info {
		padding: 0 0 0 2em;
	}

	.c-ex__demo {
		position: relative;
		margin-top: 0;
	}

	/* Don't want toggle to contribute height in grid calculations */
	.c-ex .c-toggle {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
	}

	/* Every other example */
	.c-ex:nth-child(even) .c-ex__demo {
		grid-row: 1;
		grid-column: 1;
	}

	.c-ex:nth-child(even) .c-ex__info {
		grid-row: 1;
		grid-column: 2;
	}
}

@media (min-width: 64em) {
	.c-ex {
		padding: 6.25em 0;
	}

	.c-ex__info {
		padding: 0 6em;
	}
}

/*
 *	SECTION: RESOURCES
 *	---------------------------------------------
 */

/* Overlap the "timeline" on this section */
.l-section--differentiation {
	margin-top: -2em;
}

/*
 *	SECTION: RESOURCES
 *	---------------------------------------------
 */

.resources-grid {
	grid-gap: 2em;
	max-width: 64rem;
}

.c-resource-list {
	list-style: none;
}

.snowflake {
	display: inline-block;
	margin-top: .2em;
	height: 1em;
	vertical-align: top;
}

/*
 *	SECTION: OUTRO
 *	---------------------------------------------
 */

.c-outro {
	margin: 0; /* Override .l-section margin */
	z-index: 300;
	background: #424f5e;
	color: #efefef;
}

/* Angled edge */
.c-outro::before {
	top: -15vmin;
	border-bottom: 15vmin solid #424f5e;
}

.c-outro :focus {
	outline: 1px dotted #fff;
}

.c-outro a {
	color: #efefef;
}

.c-outro a:hover {
	color: #fff;
}

a.c-outro__github {
	position: relative;
	border: 0;
	background: #efefef;
	color: #424f5e;
	font: 550 1em/1 "Variable Bahnschrift", "FF DIN", "Franklin Gothic", "Helvetica Neue", sans-serif;
	transition: transform 200ms ease-out;
}

/* Faux "cropped" corners */
a.c-outro__github::before,
a.c-outro__github::after {
	display: block;
	content: "";
	position: absolute;
	z-index: 1;
	width: 0;
}

a.c-outro__github::before {
	left: 0;
	top: 0;
	border-top: 8px solid #424f5e;
	border-right: 8px solid transparent;
}

a.c-outro__github::after {
	right: 0;
	bottom: 0;
	border-bottom: 8px solid #424f5e;
	border-left: 8px solid transparent;
}

a.c-outro__github path {
	fill: #424f5e;
}

a.c-outro__github span {
	position: relative;
	z-index: 2;
}

a.c-outro__github:hover {
	background: #fff;
	color: #262d36;
	transform: translateX(4px);
}

a.c-outro__github:hover path {
	fill: #424f5e;
}

a.c-outro__github:active {
	color: #000;
}

a.c-outro__github:active path {
	fill: #000;
}