.hidden {
	display: none;
}

/* Messages */
.bb-req {
	display: inline-block;
	margin-top: 0;
	margin-right: 2rem;
}

/* Warnings */
#warning {
	display: none;
}

#xhr-blob-warning {
	display: none;
	margin-bottom: 20px;
	clear: both;
}

#audio-container,
#for-development {
	display: none;
}

#score-container {
	margin-right: 10px;
	-ms-box-flex: 1;
}

#score-container svg {
	width: 97%;
}

#play {
	-ms-box-flex: 0;
}

#score-play-container {
	margin-top: 20px;
	display: -ms-box;
	-ms-box-align: middle;
	-ms-box-pack: start;
	-ms-box-direction: normal;
	-ms-box-orient: horizontal;
	-ms-box-line-progression: normal;
}

#play input {
	border: solid black;
	border-radius: 5px;
	padding: 5px;
	width: 80px;
	height: 80px;
}

#piano g rect:hover {
	fill: gray !important; /* Required so Chrome takes it into account */
}