.hidden {
	display: none;
}

#warning {
	display: none;
}

#xhr-blob-warning {
	display: none;
	clear: both;
}

#audio-container,
#for-development {
	display: none;
}

#score-container svg {
	width: 100%;
}

#play input {
	border: solid black;
	border-radius: 5px;
	padding: 5px;
	width: 80px;
	height: 80px;
	margin-top: 0;
}

#piano g rect:hover {
	fill: gray !important; /* Required so Chrome takes it into account */
}

select {
	width: auto;
}

select,
.button--reset-composition {
	display: block;
}

@media (min-width: 48em) and (max-width: 59.9375em) {

	.layout--basic--alt .module {
		float: none;
		margin-top: 3.2rem;
		width: 100%;
	}

	.layout--basic--alt .module:first-child {
		margin-top: 0;
	}

}
