*
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

html
{
    height: 100%;
}

body
{
    font-family: 'Segoe UI' , Verdana, Helvetica, Sans-Serif;
    font-size: 10pt;
    height: 100%;
    background-color: white;
    color: #424242;
}

p
{
    padding: 0px 0px 10pt 0px;
}

a
{
    text-decoration: none;
}

a, a:visited, a:hover
{
    color: #00a3ef;
}

a:hover, a:visited:hover
{
    color: #00a3ef;
    text-decoration: underline;
}

.bold
{
    font-family: 'Segoe UI Semibold';
}
