body
{
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Segoe UI' , Verdana, Helvetica, Sans-Serif;
    text-align: center;
    font-size: 10pt;
    color: #424242;

}
#returnbutton
{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 210px;
    height: 29px;
    background-image: url(../image/ReturnButton.png);
    background-position: left top;
    text-indent: -9999px;
}
#returnbutton:hover
{
    background-image: url('../../Includes/Image/ReturnButtonHover.png');
}
#headertable
{
    height: 63px;
    margin: 0 auto;
    padding-top: 30px;
}
#demointro, #demoactions, #demodetails
{
    margin: .25in auto;
}
#headertable td
{
    vertical-align: bottom;
}
#headertable td.heading
{
    white-space: nowrap;
    padding-right: 0.25in;
}

#fullbodywrap
{
    position: relative;
    margin: 0 auto;
    width: 80%;
    min-width: 900px;
    max-width: 1200px;
    text-align: left;
}
#demobodyh1
{
    margin: 0;
    padding: 0;
    line-height: 1em;
    font-size: 24pt;
    font-weight: normal;
    color: #00a3ef;
}

p
{
    margin: 0;
}

#thisUrl
{
    width: 600px;
    border: none;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    background-color: transparent;
    text-align: left;
}

#demointro, #demodetails
{
    clear: both;
}

#demoactions a
{
    margin-right: 1em;
    text-decoration: underline;
}
#demointro p, #demodetails p
{
    margin-bottom: 0.8em;
}
#demointro p:last-child, #demodetails p:last-child
{
    margin-bottom: 0;
}
#demointro ul, #demodetails ul
{
    list-style-type: disc;
    list-style-position: inside;
}
#demointro li, #demodetails li
{
    margin-left: 1em;
}

#demoContentCenterer
{
    text-align: center;
}
#demoContentWrapper
{
    max-width: 1200px;
    margin: auto;
    text-align: left;
}

a, a:visited, a:hover
{
    color: #00a3ef;
    text-decoration: none;
}

a:hover, a:visited:hover
{
    color: #00a3ef;
    text-decoration: underline;
}



a img
{
    border: none;
}

h2
{
    margin: 0.5em 0 0.5em 0;
    color: #09c;
}
td
{
    vertical-align: top;
    padding-right: 12px;
}
ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* these svg element values are the defaults things like visio's svg export assumes
 */
svg
{
    font-family: Sans-Serif;
    font-size: 12px;
    overflow: visible;
}

/* these are a set of styles used by the svg zoom and pan scheme
 */
#svgwrapwrap
{
    width: 100%;
    height: 585px;
    overflow: hidden;
    position: relative;
    background-color: #bfe9fd;
    border: solid 1px rgb(23, 40, 38);
    text-align: left;
    margin: auto;
}
#svgwrap
{
    visibility: hidden;
    position: relative;
    cursor: url(http://ecn.dev.virtualearth.net/mapcontrol/v6.2/cursors/grab.cur);
    background-color: White;
    overflow: hidden;
}

code, .code
{
    font-family: "Courier New";
}


/*	clean up demo page printing
 */
@media print
{
body { margin: 0; background-image: none; }
#returnbutton, #legallinks, .noprint { display: none; }
#fullbodywrap { min-width: 100%; max-width: 100%; width: 100%; margin-left: 0; margin-right: 0; }
}
