body {
	background: #dbdbdb;
	border-top: 5px solid #e57373;
}

header {
	height: 6rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 5rem;
	background-color: hsla(28, 12%, 21%, 0.3); 
}

/* override demo template */ 
p {
	margin-top: 1rem;
}

/* override demo template */
a, a:visited {
	color: #E57373;
	font-size: 1.5rem;
}

.logo {
	max-width: 22rem;
}

.login-background {
	background: url('../images/puppy-cam-login.jpg') no-repeat center center fixed;
	background-size: cover;
}

.container {
	margin-top: 14rem;
}

/* Overwrite section class margin */
.section {
	margin-top: 0;
}

.content {
	display: flex;
	margin: 0 auto;
	max-width: 100rem;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
}

.content img {
	margin: 0 auto;
}

.sub-content {
	width: 43rem;
	background-color: hsla(0,0%,86%,.9);
	margin: 0 auto;
	padding: 2rem 3rem;
}

.login-container {
	max-width: 48rem;
	position: relative;
	top: 14rem;
	margin: 0 auto;
	padding: 3rem;
	text-align: center;
	background-color: hsla(0,0%,86%,.9);
}

input, select, textarea {
	border: none;
	background-color: hsla(0,0%,100%,.4);
}

input, select, textarea {
	border-bottom: 4px solid #e57373;
	padding: .4rem .8rem;
}

input:focus {
	border-bottom: 4px solid hsla(327,100%,12%,.8);
}

button, input[type=button] {
	width: 100%;
	background-color: hsla(0,69%,67%,1);
	text-transform: capitalize;
}

.button:link, .button:visited, button, input[type="button"] {
	color: #fff;
}

.video {
	max-width: 60rem;
	min-height: 30rem;
	position: relative;
	top: 14rem;
	margin: 0 auto;
	padding: 3rem;
	text-align: center;
	background: #dbdbdb;
	border: 2px solid #D2CCCC;
}

.video-icon {
	max-width: 15rem;
	margin: 5rem;
}