.movie {
    background-color: darkgrey;
    margin: 4px;
}

.movie:hover {
    background-color: lightgrey;
}

#video {
    background: black;
    display: block;
    width: 100%;
    height: 500px;
}

#video:focus {
    outline: none;
}

div.controls {
    width: 100%;
}

input[type='range']::-ms-tooltip {
    display: none;
}

.spacer{
    width: 100%;
}

img.lockimg {
    min-width: 25px;
    vertical-align: -40%;
    min-height: 25px;
    margin-top: 0px;
}

.lockContainer {
    min-width: 50px;
    min-height: 50px;
}

#library {
    overflow-y: scroll;
    margin-bottom: 30px;
    height: 500px;
}

#library div {
    padding: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
}

#library div[selected] {
    background: lightblue;
}

.property {
    font-style: italic;
}

div.cell {
    display: table-cell;
    padding: 5px;
    vertical-align: middle;
}

input[type='range'] {
    width: 150px;
    height: auto;
    border: auto;
    padding: auto;
}

#error-display {
    color: red;
    font-size: x-large;
    display: none;
}
.text-title {
    max-width: 100%;
}
.label {
    white-space: nowrap;
    font-size: 12px;
}
