/* Your custom CSS goes here */

.movie {
    background-color: darkgrey;
    margin: 4px;
}

.movie:hover {
    background-color: lightgrey;
}

#video {
    background: black;
    display: block;
    width: 100%;
}

div.controls {
    width: 100%;
    float: left;
}

input[type=range]::-ms-tooltip {
    display: none;
}
img.lockimg {
    width: 25px;
    vertical-align: -40%;
}
#library{
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 30px;
}
.property{
    font-style: italic;
}
div.cell {
    display: table-cell;
    padding: 5px;
    vertical-align: middle;
}

input[type="range"] {
    width: 150px;
    height: auto;
    border: auto;
    padding: auto;
}
