* + .gist {
	margin-top: 2.4rem;
}

.section--tuner {
	padding: 4.8rem 0;
	background: #f2f2f2;
}

.content--testdrive .section--tuner .button {
	background-color: hsla(0,0%,0%,.2);
	color: #000;
}

.tuner__body {
	margin-top: 0;
}

.tuner__gauge-wrap {
	text-align: center;
}

.tuner__value {
	display: inline-block;
	margin-top: 0;
	vertical-align: top;
	width: 32%;
}

.tuner__controls {
	padding-top: 2rem;
	border-top: 1px solid hsla(0,0%,0%,.1);
}

.tuner__alert {
	display: none;
	margin-bottom: 2rem;
}

.tuner__options__button {
	min-width: 3rem;	
}

fieldset {
	display: inline-block;
	margin-top: 2rem;
	margin-right: 2rem;
	border: 0 none;
}

blockquote {
	margin-right: 8%;
    margin-left: 8%;
    font-style: italic;
}

@media (min-width: 48em) {

	.tuner__controls {
		margin-top: 0;
		padding-top: 0;
		border-top: 0 none;
	}
	

}