/*
 *	NAME OF YOUR DEMO
 *	=============================================
 *	@Dependencies:
 *	@Note:
 *	@TODO:
 */

/* DO NOT remove focus altogether, just style to your colors */
:focus {
	outline: 1px dotted #000;
}

::-moz-selection {
	background: #0078d7;
	color: #fff;
}

::selection {
	background: #0078d7;
	color: #fff;
}

a:link, a:visited {
	color: #0078d7;
}

a:hover {
	color: #666;
}

/*
 *	UNIVERSAL DEMO-SPECIFIC STYLES
 *	=============================================
 */

/*
 *	A SECTION OF YOUR STYLES
 *	---------------------------------------------
 */

/* Short Comment */

/*
	Long form Comment
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
*/

/*
 *	DEMO SECTION STYLES
 *	=============================================
 */

/* Short Comment */

/*
	Long form Comment
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
*/

/*
 *	UNIVERSAL COMPONENTS
 *	=============================================
 */

/*
 *	COMPONENT: NAV BAR
 *	---------------------------------------------
 */

.c-nav-bar {
	background: #000;
	color: #ccc;
}

.c-nav-bar a {
	color: #fff;
	border-bottom-color: rgba(255, 255, 255, .66);
}

/* DO NOT remove focus altogether, just style to your colors */
.c-nav-bar__context a:focus {
	outline: 1px dotted #fff;
}

/* Only used in mobile-first design */
.c-nav-bar__context {
	border-bottom-color: #444;
}

.c-nav-bar__title {
	color: #fff;
}

/*
 *	COMPONENT: DEMO NAV
 *	---------------------------------------------
 */

.c-demo-nav__btn {
	background: #000;
	color: #fff;
}

.c-demo-nav__btn:hover,
.c-demo-nav__btn:focus {
	background: #222;
}

.c-demo-nav__btn:active {
	background: #444;
}

.c-demo-nav__arrow path {
	stroke: #fff;
}

.c-demo-nav__items {
	background: #444;
}

.c-demo-nav__item a:hover,
.c-demo-nav__item a:focus {
	background: #222;
}

/*
 *	COMPONENT: INTRO
 *	---------------------------------------------
 */

.c-intro {
	background: #f4f4f4;
	text-align: center;
}

/*
 *	COMPONENT: OUTRO
 *	---------------------------------------------
 */

.c-outro a {
	color: #006fc6;
}

.c-outro a:hover {
	color: #555;
}

a.c-outro__github {
	background: #0078d7;
	color: #fff;
}

a.c-outro__github:hover {
	background: #006cc2;
	color: #fff;
}

a.c-outro__github:active {
	background: #005497;
}