/*
 *	DEMO TEMPLATE STYLES
 *	=============================================
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 400 100%/1.4 base, "Segoe UI", Segoe, "Segoe WP", "Lucida Grande", "Lucida Sans", Verdana, sans-serif;
}

:focus {
	outline-offset: 1px;
}

a:link, a:visited {
	text-underline-offset: 1px;
	text-decoration-skip: ink;
}

a:hover {
	text-decoration: none;
}

/*
 *	LAYOUT
 *	---------------------------------------------
 *	@NOTE: The layout margins and paddings are in
 *	rem (mostly) so that changing the font size
 *	of a layout element doesn't change those
 *	measurements. However, in the mobile-first
 *	"breakpoint", the measurements are in px and
 *	em so that there is at least SOME spacing in
 *	browsers which don't support rem.
 *	---------------------------------------------
 */

.l-contain {
	margin-right: auto;
	margin-left: auto;
	padding-right: 1.25rem;
	padding-left: 1.25rem;
	max-width: 960px;
	max-width: 100rem;
}

.l-section {
	margin-top: 3.5em;
}

.l-section--banner,
.c-intro {
	padding-top: 3.5em;
	padding-bottom: 3.5em;
	background: #f4f4f4;
}

.l-subsection {
	margin-top: 2em;
}

.l-subsection--banner {
	padding-top: 2em;
	padding-bottom: 2em;
	background: #f4f4f4;
}

.l-section--banner + .l-section--banner,
.l-subsection--banner + .l-subsection--banner {
	margin-top: 0;
}

@media (min-width: 36em) {
	.l-contain {
		padding-right: 3rem;
		padding-left: 3rem;
	}

	.l-section {
		margin-top: 6rem;
	}

	.l-subsection--banner,
	.c-intro {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	.l-subsection {
		margin-top: 3rem;
	}

	.l-subsection--banner {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.l-section--banner + .l-section--banner,
	.l-subsection--banner + .l-subsection--banner {
		margin-top: 0;
	}
}

@media (min-width: 60em) {
	.l-contain {
		padding-right: 6rem;
		padding-left: 6rem;
	}
}

/*
 *	BODY TYPE
 *	---------------------------------------------
 */

p, ul, ol {
	margin-top: 1em;
	max-width: 44rem;
}

ul, ol {
	margin-left: 1em;
}

p:first-child, ul:first-child, ol:first-child {
	margin-top: 0;
}

li + li {
	margin-top: .625em;
}

pre {
	white-space: pre-wrap;
}

/*
 *	FORM ELEMENTS
 *	---------------------------------------------
 */

button {
	border-radius: 0;
	-webkit-appearance: none;
}

/*
 *	UTILITIES
 *	---------------------------------------------
 */

/* Clear floated elements */
.u-clear::before,
.u-clear::after {
	content: "";
	display: table;
}

.u-clear::after {
	clear: both;
}

/* Hide element visually (not from screen reader) */
.u-sr-only {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

/*
 *	COMPONENT: NAV BAR
 *	@NOTE: These styles are not intended to be
 *	changed by demo authors. For those styles,
 *	see demo.css
 *	---------------------------------------------
 */

/* Defensive styling in case of leaks from demo styles */
.c-nav-bar a {
	border-bottom: 0;
}

/* Actual styling */
.c-nav-bar {
	width: 100%;
	font-size: .875em;
}

.c-nav-bar__context {
	padding: .75rem 1.25rem;
	max-width: 100%;
}

.c-nav-bar__context span {
	display: inline-block;
}

.c-nav-bar__title {
	font-weight: 700;
}

@media (max-width: 48em) {
	.c-nav-bar__content {
		padding: 0;
	}

	.c-nav-bar__context {
		border-bottom: 1px solid;
	}
}

@media (min-width: 48em) {
	/* Space for .c-demo-nav */
	.c-nav-bar {
		padding-right: 14em;
	}

	.c-nav-bar__context {
		padding: .75rem 0;
	}
}

/*
 *	COMPONENT: DEMO NAV
 *	---------------------------------------------
 */

.c-demo-nav__btn {
	position: relative;
	border: 0;
	width: 100%;
	font: inherit;
	text-align: left;
}

.c-demo-nav__btn,
.c-demo-nav__item a {
	padding: .75rem 1.25rem;
}

.c-demo-nav__btn:focus,
.c-demo-nav__item a:focus {
	outline: 0;
}

.c-demo-nav__btn:hover {
	cursor: pointer;
}

.c-demo-nav__arrow {
	position: absolute;
	top: 50%;
	margin-top: -6px;
	right: 1.25rem;
}

.c-demo-nav__items {
	margin: 0;
	max-width: 100%;
	list-style: none;
}

.c-demo-nav__items[aria-hidden="true"] {
	display: none;
}

.c-demo-nav__item {
	margin-top: 0;
}

.c-demo-nav__item a {
	display: block;
	text-decoration: none;
	transition: background-color ease-out 400ms;
}

.c-demo-nav__item a:hover,
.c-demo-nav__item a:focus {
	text-decoration: underline;
}

@media (min-width: 48em) {
	.c-demo-nav {
		position: fixed;
		z-index: 9000; /* Unnecessarily high just in case… */
		top: 0;
		right: 2rem;
		width: 12em;
	}

	.c-demo-nav__btn,
	.c-demo-nav__item a {
		padding: .75rem;
	}
}

@media (min-width: 60em) {
	.c-demo-nav {
		right: 5rem;
	}
}

/*
 *	COMPONENT: OUTRO
 *	---------------------------------------------
 */

.c-outro {
	text-align: center;
}

.c-outro__byline p {
	margin-right: auto;
	margin-left: auto;
	max-width: 24em;
	font-size: .875em;
}

.c-outro__byline p + p {
	margin-top: .5em;
}

.c-outro__github {
	display: inline-block;
	margin-top: 2em;
	padding: .5em .75em;
	border: 1px solid transparent;
	line-height: 1;
	text-decoration: none;
}

.c-outro__github:hover,
.c-outro__github:focus {
	border-color: hsla(0, 0%, 0%, .4);
}

.c-outro__github svg,
.c-outro__github span {
	display: inline-block;
	vertical-align: middle;
}

.c-outro__github svg {
	width: 20px;
	height: 20px;
}

.c-outro__github span {
	margin-left: .5em;
}
