/* Your custom CSS goes here */
ul {
    list-style-type: none;
}

#content-area {
    height: 250px;
    width: 100%;
}

.webdriver-response {
    background-color: lightgreen;
    border-color: green;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
}

.webdriver-info {
    background-color: lightblue;
    border-color: blue;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
}