*
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

HTML
{
    height: 100%;
    overflow: hidden;
    -ms-content-zooming: none;
}

body
{
    height: 100%;
    width: 100%;
    font-size: 10pt;
    height: 100%;
    color: #424242;
    opacity: 0;
}

a, a:visited, a:hover
{
    color: #00a3ef;
    text-decoration: none;
}

a:hover, a:visited:hover
{
    color: #00a3ef;
    text-decoration: underline;
}

#DemoScreenreaderText
{
    position: absolute;
    left: -10000px;
}

#WaterVideo
{
    display: block;
    position: fixed;
    opacity: 0.98;
    width: 0px;
    height: 0px;
    background-color: Red;
}

#FishBowlCanvas
{
    display: block;
    position: fixed;
}

#FrameCanvas
{
    display: block;
    position: fixed;
}

#LogoCanvas
{
    display: block;
    position: fixed;
}

#FPSCanvas
{
    display: block;
    position: fixed;
}

#FPSNeedle
{
    display: block;
    position: fixed;
    width: 13px;
    height: 128px;
    left: 122px;
    top: 181px;
    background-image: url('Images/Needle.png');
}

#PerformanceCanvas
{
    display: block;
    position: fixed;
}

#ControlPanel
{
    position: absolute;
    left: 36px;
    bottom: 38px;
    width: 70px;
    z-index: 1000;
    padding: 12px 18px 18px 12px;
    background-color: rgba(255,255,255,0.5);
    font-family: Opificio;
    border-radius: 8px;
}

.Control
{
    color: #00a3ef;
}

#FishMenu
{
    position:fixed;
    margin: 0px 0px 0px 3px;
    padding: 0px 4px 6px 4px;
    width: 75px;
    height: 10px;
    overflow: hidden;
}

.FishMenuDivider
{
    margin: 4px 0px 4px 0px;
    height: 1px;
    background-color: #9f9f9f;
}

.FishMenuItem
{
    font-family: Opificio;
    color: #00a3ef;
    text-decoration: none;
    padding: 1px 6px 0px 8px;
    width: 62px;
}

.FishMenuItem:hover
{
    background-color: #00a3ef;
    color: White;
    cursor: pointer;
}

#MenuChevron
{
    margin-left: 10px;
    opacity: 0.55;
}

.Enabled:before
{
    content: url('Images/CheckmarkEnabled.png');
    margin-right: 3px;
}

.Disabled:before
{
    content: url('Images/CheckmarkDisabled.png');
    margin-right: 3px;
}

.Control:hover
{
    text-decoration: underline;
    cursor: pointer;
}

#LayersHeading
{
    padding-top: 40px;
    padding-left: 15px;
    font-weight: bold;
}

#FishHeading
{
    padding-top: 4px;
    padding-left: 15px;
    font-weight: bold;
}

#LoadingCanvas
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1200;
}

#LoadingCover p
{
    margin-top: 300px;
    text-align: center;
    color: Silver;
    font-size: 16pt;
}

@font-face {
	font-family: 'Opificio';
	src: local('☺'), url('https://edgeportal.blob.core.windows.net/media/Opificio.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}