/* Blog_only */

#blog {
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
}
#blogPost {
	-ms-user-select: element;
	-webkit-user-select: text;
	-moz-user-select: text;
}