.userselect-containerpre {
	display: none;
}

.userselect-container select {
	width: 32rem;
}

.userselect-container div + p,
.userselect-container div + h3 {
	clear: both;
}

.breadcrumb-list {
	display: block;
	font-size: 1.2rem;
	margin: 2rem 0 3.4rem 0;
	list-style: none;
}

ul, li {
	margin-top: 0;
	display: inline-block;
}

/* BLOG CONTENT */
#controls {
	width: 100%;
	max-width: 32rem;
	padding-bottom: 2rem;
	margin-right: 1.5rem;
	float: left;
}

/* override default styling for alignment */
.controls-select {
	margin-top: .7rem;
}

pre:first-child {
	margin-top: 2.4rem;
}

#blog {
	display: inline-block;
	width: 100%;
	max-width: 64rem;
	margin-top: 0;
	padding: 3rem;
	border: 2px solid #dedede;
	border-top-width: 25px;
}


/* COMMENTS SECTION */
.avatar {
	float: left;
	max-width: 3rem;
	max-height: 3rem;
	border: 3px solid #b5b5b5;
}

.date {
	font-size: 1.3rem;
	color: #6a6a6a;
}

.comments {
	border: 1px solid #c1c1c1;
	padding: 1rem;
}

.comment {
	margin-bottom: 2rem;
}

.comment--reply {
	margin-left: 6rem;
	padding: 1rem;
	background-color: #f0f0f0;
}

.comment__content {
	margin-top: 0;
	margin-left: 6rem;
}

.comment__content p {
	margin-top: 0;
	margin-bottom: 0;
}

.comment--user {
	font-size: 1.2rem;
	color: #5a5a77;
	text-transform: uppercase;
	font-weight: bold;
}

.comment img {
	margin: .3rem;
}

label {
	font-size: 1.3rem;
}

input {
	width: 100%;
	margin-top: .5rem;
}

textarea {
	width: 100%;
	height: 20rem;
	margin-top: .5rem;
}
