.userselect-containerpre {
	display: none;
}

.userselect-container button {
	margin-left: 10px;
	padding: 3px;
}

.userselect-container div + p,
.userselect-container div + h3 {
	clear: both;
}

#code {
	margin-top: 20px;
	/* width:400px;*/

	height: 200px;
	border: solid;
}

#code pre {
	margin: 0;
	background-color: transparent;
	font-size: 13px;
	line-height: normal;
	padding: 1rem;
	border: none;
}

.userselect-container select {
	width: 320px;
}

#controls {
	padding-bottom: 20px;
	margin-right: 15px;
	float: left;
	width: 320px;
}

#sample-content {
	border-bottom: solid thin;
	padding-top: 20px;
	padding-left: 6px;
	padding-right: 6px;
	height: 40px;
	background-color: rgb(170, 221, 255);
	box-sizing: content-box;
	font-size: 1.5em;
}

#sample-content * + * {
	margin-top: 0;
}

.comment img {
	margin: 5px;
}

#blog {
	display: inline-block;
	min-width: 550px;
	max-width: 650px;
	margin-top: 0;
}