.userselect-containerpre {
	display: none;
}

.userselect-container button {
	margin-left: 10px;
	padding: 3px;
}

.userselect-container div + p,
.userselect-container div + h3 {
	clear: both;
}

#code {
	margin-top: 20px;
	/* width:400px;*/

	height: 200px;
	border: solid;
}

#code pre {
	margin: 0;
	background-color: transparent;
	font-size: 13px;
	line-height: normal;
	padding: 1rem;
	border: none;
}

.userselect-container select {
	width: 320px;
}

#controls {
	padding: 1em;
	min-height: 300px;
}

#sample-content {
	box-sizing: content-box;
	font-style: italic;
	text-align: center;
}


.comment img {
	margin: 5px;
	vertical-align: middle;
	max-height: 32px;
	max-width: 32px;
}

.comment .comment-name{
	display: inline;
	vertical-align: middle;
}

#blog {
	display: inline-block;
	min-width: 550px;
	border: solid thin;
	margin: .8rem 0;
	padding: 2rem 4rem;
}

/* syntax highlighting */
code{
	word-wrap: normal;
	color:#333;
}
code div{
	margin: 0;
}
code .hl-built_in{
	color:#0086b3;
}
code .hl-id, .hl-class{
	color:#795da3;
}
code .hl-tag{
	color:#63a35c;
}
code .hl-nowrap{
	white-space: nowrap;
}
