html {
	font-family: "Segoe UI", Helvetica, Arial, sans-serif;
	font-size: 100%;
}

body {
	background: #001129;
}

header {
	margin: 3em 1em;
	max-width: 300px;
	height: 60px;
}


.speech-status {
	position: absolute;
	right: 20px;
	top: 60px;
	width: 32px;
	visibility: hidden;
}

ul {
	list-style-type: none;
	margin: 1em auto;
	min-width: 500px;
	max-width: 60%;
	text-align: center;
}

li {
	display: inline-block;
}

#container {
	min-width: 500px;
	max-width: 60%;
	background: #001129;
	padding: 1em;
	margin: 1em auto;
}

h1 {
	color: #fff;
	background: #002050;
	text-align: center;
}

#js-support-message {
	position: absolute;
	top: 0;
	color: #fff;
	background-color: #000;
	left: 0;
	padding: 10px 0;
	margin: 0 auto;
	width: 100%;
	font-size: .7em;
	text-align: center;
}

#js-support-message strong {
	color: #4c9d4c;
}

#js-support-message.unSupported strong {
	color: #800;
}

input[type="text"] {
	box-sizing: border-box;
	width: 100%;
	padding: .5em;
	font-size: 1.2em;
	border: 1px solid #cccedb;
	height: 40px;
}

input[type="range"] {
	width: 68%;
	height: 15px;
	background-color: #001129;
	padding: .7em 0;
}

label {
	display: inline-block;
	width: 20%;
	color: #fff;
	font-size: 1em;
}

.option {
	margin: 1.5em 0;
}

#buttons-container {
	text-align: center;
}

button {
	display: inline-block;
	border: none;
	font-size: .9rem;
	padding: .5rem .8em;
	background: #4c9d4c;
	color: #fff;
	font-weight: bold;
	margin: 0 0 5px 0;
	width: 32%;
	text-align: center;
}

button:hover, button:focus {
	opacity: .75;
	cursor: pointer;
}

button {
	transition: all ease-in .5s;
}

/* Steph Edits */

#parrot-1 {
	position: absolute;
	width: 16%;
	left: 0;
	top: 30%;
	z-index: -1;
}

#parrot-2 {
	position: absolute;
	width: 16%;
	right: 0;
	top: 50%;
	z-index: -1;
}


#speech-bubble {
	position: relative;
	top: -10px;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 32px 31px 0 0;
	border-color: #fff transparent transparent transparent;
}

#text-container {
	margin: 0 0 40px 0;
	background-color: #fff;
	border-radius: 6px;
	padding: .5em;
	width: 100%;
	height: 55px;
}

.soundwave {
	position: absolute;
	bottom: 0;
	opacity: .3;
	z-index: -1;
}

.range-slider {
	width: auto;
	font-size: 1em;
	background-color: hsl(0, 0%, 100%);
	padding-right: 1.7em;
}

input[type=range]::-webkit-slider-runnable-track {
	background-color: hsla(0, 0%, 100%, .4);
}

input[type=range]::-moz-range-track {
	background-color: hsla(0, 0%, 100%, 1);
}