.container-mandlebrot {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 0;
	text-align: center;
	background-color: #fefefe;
}

.container-mandlebrot table {
	margin: 0 auto;
	/* Center the table. */
	width: 60rem;
	table-layout: fixed;
	/* Required to keep the table static whilst the page builds. */
}

.container-mandlebrot table td{
	padding: 0;
}

.container-mandlebrot tbody tr:nth-child(odd),
.container-mandlebrot tbody tr:nth-child(even) {
	background-color: hsla(0, 0%, 0%, 0);
}

#canvas-wrapper {
	position: relative;
	/* Allows any absolutely positioned child elements to be positioned relative to this parent element. */

	width: 604px;
	/* Account for the two 2px wide borders of the canvas element. */

	margin: 0 auto;
	/* Center the canvas wrapper on the page. */
}

canvas {
	border: 2px solid #000000;
	-ms-touch-action: none;
	touch-action: none;
	/* Use the standard, if available. */
	margin: 0;
}

#message-box {
	text-align: left;
	width: 15em;
	/* Accommodate the longest message string for this message box. */
}

#elapsed-time {
	text-align: right;
}

progress {
	display: block;
	/* For browser's that do not recognize <progress> tags, this makes them work as expected (i.e., as a generic DIV element would). */
}

#progress-indicator {
	color: red;
	/* Make the progress bar as visible as possible. */

	display: none;
	/* Only display the <progress> tag when the Mandelbrot set is being calculated. */

	position: absolute;
	/* This is positioned relative to the #canvas-wrapper DIV element. */

	width: 400px;
	/* The width of the progress bar. */

	height: 20px;
	/* The height of the progress bar. */

	left: 102px;
	/* The canvas is 600px wide, the progress bar is 400px wide, so to center the progress bar, the progress bar must start 100px from the left of the canvas plus a 2px border. */

	top: 192px;
	/* The canvas is 400px high, the progress bar is 20px tall, so to center the progress bar, the progress bar must start 190px from the top of the canvas plus a 2px border. */
}

button {
	width: 5em;
}

#filename-form {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(225, 225, 225, .8);
	color: #fff;
}

#filename-form-content {
	background-color: rgba(0, 163, 239, 1);
	position: relative;
	height: 80px;
	padding-top: 40px;
	width: 100%;
	margin: auto 0;
	font-size: 26px;
}

#filename-form-content input {
	font-size: 26px;
	padding: 5px 20px 5px 20px;
}

#demo-content {
	width: 720px;
	margin: auto auto;
}

#demo-introduction {
	text-align: left;
	width: 700px;
	margin: 20px auto 20px auto;
	background-color: rgba(0, 163, 239, .0);
	padding: 0;
}

#demo-introduction-text {
	background-color: rgba(255, 255, 255, 1);
	padding: 5px;
}

#buttons {
	float: left;
	margin-top: 18px;
	margin-left: 10px;
}

#canvas-group {
	float: left;
}

div .button {
	width: 96px;
	height: 38px;
	line-height: 38px;
	margin: 5px;
	text-align: center;
	font-size: 16px;
	background-color: #00a3ef;
	color: #ffffff;
	cursor: pointer;
}

#presets-button {
	margin-top: 181px;
}

div .button:hover {
	background-color: rgba(0, 163, 239, .8);
}

#region-list {
	width: 600px;
	margin-left: 0;
	display: none;
	background-color: rgba(239, 239, 239, .8);
}

.region {
	width: 88px;
	height: 48px;
	background-color: rgba(0, 163, 239, 1);
	color: #fff;
	padding: 30px 5px 0 5px;
	border: 1px solid #000000;
	float: left;
	margin: 10px;
	cursor: pointer;
	vertical-align: bottom;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.region:hover {
	color: rgba(0, 163, 239, 1);
	background-color: #fff;
}

#upgrade {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	padding-top: 100px;
}

#upgrade-warning {
	background-color: #ffffff;
	position: relative;
	width: 437px;
	margin: auto auto;
	border: 1px solid #000000;
	padding: 10px;
}

#upgrade-content {
	padding-left: 10px;
	padding-top: 0;
	margin-top: 0;
	text-align: left;
}

#upgrade-content a {
	text-decoration: none;
}

#upgrade-button {
	margin-top: 20px;
	background-color: #F97B0C;
	cursor: pointer;
	padding: 8px 5px;
	width: 100px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
}

#upgrade-ie-logo {
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 10px;
	float: right;
}

#elapsed-time {
	-webkit-transition: all 2.2s ease-in-out;
	-moz-transition: all 2.2s ease-in-out;
	-o-transition : all 2.2s ease-in-out;
	transition : all 2.2s ease-in-out;
}

.flash {
	background-color: red;
}