/**************
 *** Global ***
 **************/
#audiomixer {
	font-weight: 200;
	color: #E1E1E1;
	background-color: #222222;
	padding: 10px 0 20px 0;
}

#audiomixer table,
#audiomixer table td,
#audiomixer table th {
	color: #E1E1E1;
	text-shadow: 0 0 3px #000000;
}

#audiomixer table td,
#audiomixer table th {
	padding: 1rem;
}

#audiomixer table th {
	text-transform: uppercase;
}

#audiomixer tbody tr:nth-child(odd) {
	background-color: hsla(0, 0%, 0%, .05);
}

#audiomixer table thead tr {
	background-color: #333333;
}

#audiomixer button,
#audiomixer button[type=submit] {
	background-color: #484848;
	color: #FFFFFF;
	outline: none;
	border: 0;
	padding: 6px 14px;
}

#audiomixer button,
#audiomixer input[type=button],
#audiomixer input[type=submit],
#audiomixer input[type=reset] {
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
}

#audiomixer button:hover {
	background-color: #4F4F4F;
}

#audiomixer button:active {
	background-color: #404040;
}

#audiomixer button,
#audiomixer input,
#audiomixer label,
#audiomixer legend,
#audiomixer ol,
#audiomixer p,
#audiomixer pre,
#audiomixer select,
#audiomixer td,
#audiomixer textarea,
#audiomixer ul {
	line-height: normal;
}

#audiomixer fieldset,
#audiomixer label {
	font-weight: 300;
}

#audiomixer input:focus {
	outline: none;
}

#audiomixer a, #audiomixer a:visited {
	outline: none;
	color: rgb(54, 154, 202);
	transition: all .2s ease;
}

#audiomixer a:hover {
	color: #999999;
}

#audiomixer a.close {
	height: 25px;
	width: 25px;
	line-height: 22px;
	text-align: center;
	display: block;
	float: right;
	font-size: 20px;
	font-weight: 700;
	color: #AAAAAA;
	padding: 0;
	transition: all .15s ease;
}

#audiomixer a.close:hover,
#audiomixer a.close:focus {
	color: #EBEBEB;
}

#audiomixer a.toggler {
	float: left;
	display: block;
	width: 40px;
	height: 20px;
	background-color: rgb(54, 154, 202);
	cursor: pointer;
	border: 2px solid #444444;
	border-left-width: 25px;
	text-decoration: none;
	transition: all .1s ease;
}

#audiomixer a.toggler.off {
	background-color: #444444;
	border-color: #333333;
	border-left-width: 2px;
	border-right-width: 25px;
}

/*************************
 *** Wrappers + Panels ***
 *************************/
#audiomixer .panel {
	margin: 5px auto;
	min-width: 200px;
}

#audiomixer .explainer {
	margin: 20px 10px 0 10px;
}

#audiomixer .panel h1 {
	margin: 0 0 -8px 0;
	padding: 0 5px;
	color: #999999;
	text-shadow: 0 0 5px #111111;
	text-transform: lowercase;
	letter-spacing: -.03em;
}

#audiomixer .panel-content {
	background-color: #555555;
	box-shadow: 0 0 20px 0 #111111;
}

#audiomixer .panel,
#audiomixer .panel-content,
#audiomixer #master,
#audiomixer #dash,
#audiomixer #dash .track,
#audiomixer #dash .track .controls,
#audiomixer #dash .track .grid {
	width: 100%;
	height: auto;
}

#audiomixer #master:before,
#audiomixer #master:after,
#audiomixer #dash .track:before,
#audiomixer #dash .track:after {
	content: " ";
	display: table;
}
#audiomixer #master:after,
#audiomixer #dash .track:after {
	clear: both;
}

/*************
 *** Icons ***
 *************/
#audiomixer .icon {
	width: 36px;
	height: 36px;
	float: left;
	fill: #EBEBEB;
	-webkit-filter: drop-shadow(0 0 3px #000000);
	filter: drop-shadow(0 0 3px #000000);
}

#audiomixer .icon-pause {
	display: none;
}

#audiomixer .icon-open {
	margin-right: 0;
}

/**************
 *** Master ***
 **************/
#audiomixer #master {
	margin-top: 2.4rem;
	color: #EBEBEB;
	padding: 14px;
	background-color: #333333;
}

#audiomixer #master .master-controls {
	float: left;
	clear: both;
	margin-top: 20px;
}

#audiomixer #master label {
	float: left;
	width: 100px;
	margin: -6px 20px -6px 0;
}

#audiomixer #master label small {
	float: left;
	text-shadow: 0 0 3px #000000;
	padding: 0 8px;
	margin-bottom: -6px;
}

#audiomixer #master input,
#audiomixer #dash input {
	width: 100px;
	margin: -6px -10px;
	float: right;
}

#audiomixer #master input {
	float: left;
	margin: .4rem 0 0;
}

#audiomixer #master button {
	float: left;
}

#audiomixer #play-button {
	display: block;
	margin-left: 6px;
}

#audiomixer #play-text {
	padding: 9px 0 0 12px;
	margin-right: 34px;
	width: 70px;
	float: left;
	font-size: 1.7rem;
	text-shadow: 1px 1px 5px #000000;
}

#audiomixer #save-form {
	float:right;
	padding: 20px 0 4px 0;
	margin: -6px 0;
}

#audiomixer #save-form #button-new {
	min-width: 0;
	margin-left: 10px;
}

#audiomixer #save-form input[type=text] {
	border: 1px solid #444444 !important;
	color: #CCCCCC !important;
	margin: 4px 4px 0 0;
	background-color: transparent !important;
}

#audiomixer #save-form input[type=text]:focus {
	border-color: #666666 !important;
}

#audiomixer #save-form button[type=submit] {
	min-width: 0;
	transition: all .1s ease;
}

#audiomixer #save-form button[type=submit].disabled {
	color: #222222;
}

/************
 *** Dash ***
 ************/
#audiomixer #dash,
#audiomixer #dash li {
	list-style-type: none;
	padding: 0;
	margin: 0;
	max-width: none;
}

#audiomixer #dash .track,
#audiomixer #dash .track.disabled:first-child {
	border: 1px solid #444444;
	border-width: 1px 0 0 0;
	transition: background-color .1s ease, border-color .1s ease, color .1s ease;
}

#audiomixer #dash .track .controls {
	float: left;
	padding: .8rem;
	padding-right: 1rem;
}

#audiomixer #dash .track .controls a.toggler {
	margin-right: 10px;
}

#audiomixer #dash .track.disabled {
	background-color: #444444;
	border-top-color: #3A3A3A;
	color: #AAAAAA;
}

#audiomixer #dash .track:last-child {
	border-bottom-width: 1px;
}

#audiomixer #dash .track .label {
	font-size: 1.5rem;
	float: left;
	min-width: 2.5em;
	color: #E1E1E1;
	text-shadow: 1px 1px 5px #000000;
	margin-top: 0;
	transition: color .1s ease, text-shadow .1s ease;
}

#audiomixer #dash .track.disabled .label {
	color: #999999;
	text-shadow: 0 0 0 #000000;
}

#audiomixer #dash .track .grid {
	margin: 0;
	padding: 0;
	float: left;
}

#audiomixer #dash .track .grid li {
	position: relative;
	width: 6.25%;
	padding: 3.125% 0;
	border-style: solid;
	border-color: #555555;
	border-width: 0 1px 1px 0;
	background-color: #666666;
	float: left;
	cursor: pointer;
	transition: background-color .1s ease, border-color .1s ease;
}

#audiomixer #dash .track.disabled .grid li {
	border-color: #444444;
}

#audiomixer #dash .track .grid li.selected {
	background-color: #92D050;
}

#audiomixer #dash .track .grid li span {
	width: 100%;
	height: 100%;
	position: absolute;
	margin-top: -50%;
	float: left;
	display: block;
	transition: background-color .1s ease;
}

#audiomixer #dash .track .grid li:hover {
	background-color: #868686;
}

#audiomixer #dash .track.disabled .grid li:hover {
	background-color: #737373;
}

#audiomixer #dash .track .grid li.selected:hover {
	background-color: #9EC179;
}

#audiomixer #dash .track .grid li.highlighted span {
	background-color: rgba(255, 255, 255, 0.3);
}

#audiomixer #dash .track.disabled .grid li span {
	background-color: rgba(0, 0, 0, 0.2);
}

#audiomixer #dash .track.disabled .grid li.highlighted span {
	background-color: rgba(100, 100, 100, 0.5);
}

/***************
 *** Library ***
 ***************/
#audiomixer #saved-list {
	display: none;
}

#audiomixer #saved-list-explainer {
	color: #999999;
	margin: 2.4rem 0.8rem 0;
	display: block;
	text-shadow: 0 0 3px #111111;
	font-size: 1.3rem;
}

#audiomixer .table-row {
	border-left: 0 solid rgba(54, 154, 202, 0);
	transition: all .15s ease;
}

#audiomixer .table-row.active,
#audiomixer .table-row:hover,
#audiomixer .table-row.active:hover {
	border-left: 10px solid rgba(54, 154, 202, 1);
	cursor: pointer;
	background-color: #444444;
}

#audiomixer .table-row:hover {
	border-left-color: #333333;
}

#audiomixer .table-row .close {
	visibility: hidden;
	opacity: 0;
	margin: -3px -5px -3px 3px;
}

#audiomixer .table-row:hover .close {
	visibility: visible;
	opacity: 1;
}

/*******************
 *** Range Input ***
 *******************/
/* Track */
#audiomixer input[type=range] {
	-webkit-appearance: none;
	background: transparent !important;
	border: 0 !important;
	height: 3.2rem;
	padding: 4px 8px;
	transition: all .1s ease;
}
#audiomixer input[type=range]:focus {
	outline: none;
	transition: all .1s ease;
}
#audiomixer input[type=range]::-webkit-slider-runnable-track,
#audiomixer input[type=range]:focus::-webkit-slider-runnable-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	animate: 0.2s;
	background: #444444;
	border-radius: 0;
	transition: all .1s ease;
}
#audiomixer input[type=range]::-moz-range-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	animate: 0.2s;
	background: #444444;
	border-radius: 0;
	transition: all .1s ease;
}
#audiomixer input[type=range]::-ms-track {
	width: 100%;
	height: 18px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
	transition: all .1s ease;
}
#audiomixer input[type=range]::-ms-fill-lower,
#audiomixer input[type=range]::-ms-fill-upper,
#audiomixer input[type=range]:focus::-ms-fill-lower,
#audiomixer input[type=range]:focus::-ms-fill-upper {
	height: 10px;
	background: #444444;
	border: 0;
	border-radius: 0;
	transition: all .1s ease;
}

/* Disabled */
#audiomixer .track.disabled input[type=range]::-webkit-slider-runnable-track,
#audiomixer .track.disabled input[type=range]:focus::-webkit-slider-runnable-track {
	background: #333333;
	transition: all .1s ease;
}
#audiomixer .track.disabled input[type=range]::-moz-range-track {
	background: #333333;
	transition: all .1s ease;
}
#audiomixer .track.disabled input[type=range]::-ms-fill-lower,
#audiomixer .track.disabled input[type=range]::-ms-fill-upper,
#audiomixer .track.disabled input[type=range]:focus::-ms-fill-lower,
#audiomixer .track.disabled input[type=range]:focus::-ms-fill-upper {
	background: #333333;
	transition: all .1s ease;
}

/* Thumb */
#audiomixer input[type=range]::-webkit-slider-thumb {
	border: 0;
	height: 18px;
	width: 10px;
	background: rgb(54, 154, 202);
	cursor: pointer;
	border-radius: 0;
	-webkit-appearance: none;
	margin-top: -4px;
	box-shadow: 0 0 5px #333333;
	transition: all .1s ease;
}
#audiomixer input[type=range]::-moz-range-thumb {
	border: 0;
	height: 18px;
	width: 10px;
	background: rgb(54, 154, 202);
	cursor: pointer;
	border-radius: 0;
	box-shadow: 0 0 5px #333333;
	transition: all .1s ease;
}
#audiomixer input[type=range]::-ms-thumb {
	border: 0;
	height: 18px;
	width: 10px;
	margin-top: 0;
	background: rgb(54, 154, 202);
	cursor: pointer;
	border-radius: 0;
	box-shadow: 0 0 5px #333333;
	transition: all .1s ease;
}

/* Disabled */
#audiomixer .track.disabled input[type=range]::-webkit-slider-thumb {
	background: #333333;
	box-shadow: none;
	transition: all .1s ease;
}
#audiomixer .track.disabled input[type=range]::-moz-range-thumb {
	background: #333333;
	box-shadow: none;
	transition: all .1s ease;
}
#audiomixer .track.disabled input[type=range]::-ms-thumb {
	background: #333333;
	box-shadow: none;
	transition: all .1s ease;
}

/**************
 *** Dialog ***
 **************/
#audiomixer #dialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	outline: 0;
}

#audiomixer #dialog .dialog {
	position: relative;
	width: auto;
	margin: 10px;
	width: 400px;
	margin: 0 auto;
	background-color: #555555;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	outline: 0;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .5);
	box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

#audiomixer #dialog .overlay {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	filter: alpha(opacity=50);
	opacity: .5;
}

#audiomixer #dialog .header {
	min-height: 16px;
	padding: 15px;
}

#audiomixer #dialog .header .close {
	margin: -8px;
}

#audiomixer #dialog .title {
	margin: 0;
	line-height: 3.3rem;
	padding: 0 5px;
}

#audiomixer #dialog .body {
	position: relative;
	padding: 0 20px;
}

#audiomixer #dialog .body p {
	margin-bottom: 0.5rem;
}

#audiomixer #dialog .body ul {
	margin: 0.2em 0 0 1.7em;
}

#audiomixer #dialog .body ul li {
	margin: 0;
}

#audiomixer #dialog .footer {
	padding: 15px;
	text-align: right;
}

#audiomixer #dialog .footer button {
	margin: 0 0 0 5px;
}

/*************************
 *** Responsive Layout ***
 *************************/

@media (min-height: 600px) {
	#audiomixer #dialog .dialog {
		margin: 175px auto;
	}
}

/* Bigger fit */
@media (min-width: 760px) {
	#audiomixer .panel {
		margin: 30px auto;
		padding: 0 20px;
	}

	#audiomixer #master .master-controls {
		clear: none;
		margin-top: 0;
	}

	#audiomixer #master label {
		margin-right: 30px;
		padding: 0 10px;
	}

	#audiomixer #dash .track {
		padding-left: 280px;
	}

	#audiomixer #dash .track .controls,
	#audiomixer #dash .track .grid {
		position: relative;
	}

	#audiomixer #dash .track .controls {
		width: 280px;
		margin-left: -280px;
		padding: 20px;
	}
	#audiomixer #dash .track .grid {
		width: 100%;
	}

	#audiomixer #dash .track,
	#audiomixer #dash .track .grid li {
		height: 60px;
	}
	#audiomixer #dash .track:last-child {
		height: 61px;
	}

	#audiomixer #dash .track .grid li {
		padding: 0;
	}

	#audiomixer #dash .track .controls a.toggler {
		margin-right: 20px;
	}

	#audiomixer #dash .track .label {
		width: 100px;
		font-size: 2.2rem;
		line-height: 1.8rem;
	}

	#audiomixer #dash .track .grid li {
		position: static;
	}

	#audiomixer #dash .track .grid li span {
		margin-top: 0;
		position: static;
	}

	#audiomixer #dash .track .grid li:first-child {
		border-left-width: 2px;
		border-left-color: #444444;
	}

	#audiomixer #dash .track.disabled .grid li:first-child {
		border-left-color: #333333;
	}
}
@media (min-width: 930px) {
	#audiomixer #save-form {
		padding-top: 4px;
	}
}

/* Fit all */
@media (min-width: 1280px) {
	#audiomixer .panel {
		width: 1280px;
	}

	#audiomixer #dash .track {
		padding-left: 0;
	}

	#audiomixer #dash .track .controls,
	#audiomixer #dash .track .grid {
		position: static;
		width: auto;
	}

	#audiomixer #dash .track .controls {
		margin-left: 0;
	}

	#audiomixer #dash .track .grid li {
		width: 60px;
	}
}
