/* Your custom CSS goes here */

#videoCanvascontainer {
    background: linear-gradient(to right bottom, #f0f0f0, #808080, #f0f0f0, #808080, #f0f0f0, #808080); 
}

#canvasTag {
    width: 100%; 
}

#videoTag {
    width: 100%; 
    background-color:black;
}

#videoViewText {
    display:flex 1 1; 
    width:100%; 
    padding:5px; 
    background-color:#606060;
}

#photoViewText {
    display:flex 1 1; 
    width:100%; 
    padding:5px; 
    background-color:#808080;
}

#switch {
    height: 48px; 
    width:128px; 
    border-radius:10px; 
    margin-top:8px; 
    background-color:rgba(128, 128, 128, 0.25);
}

#saveBtn {
    height: 48px; 
    width:128px; 
    border-radius:10px; 
    margin-top:8px; 
    background-color:rgba(128, 128, 128, 0.25);
    display:none;
}

#error, #tooltip {
    color: red;
}