* + .gist {
	margin-top: 2.4rem;
}

.rendered-result header {
  position: relative;
}

.rendered-result .title {
  position: absolute;
  bottom: 2px;
  left: 2px;
  margin: 0;
  color: white;
  background: black;
  padding: 5px 15px;
  font-size: 2em;
}

.rendered-result p {
	font-size: .75em;
}

.rendered-result .sample-hero {
  width: 100%;
  margin: 0;
}