.overflow-wrap {
	display: block;
	margin-bottom: 2.4rem;
	width: 100%;
	overflow-x: auto;
}

.overflow-wrap--setimmediatesorting {
	padding: 2rem 2rem 0;
	background: #f7f7f7;
}

#test-graph {
	position: relative;
	width: 1000px;
	height: 200px;
}

.bar {
	position: absolute;
	bottom: 0;
	width: 5px;
	margin: 0;
	padding: 0;
	z-index: 2;
	border-bottom: 0;
	background: #107C10;
	border-radius: 3px 3px 3px 3px;
	box-sizing: content-box;
}

button {
	margin-top: 1.2rem;
}

/* These classes added in JS */
.test-result--good {
	color: #107C10;
}

.test-result--neutral {
	color: #FF8C00;
}

.test-result--bad {
	color: #F03A17;
}

/* Move to general CSS library? */
@media (min-width: 40em) {
	
	.longform-text {
		-webkit-columns: 2;
		-moz-columns: 2;
		columns: 2;
		-webkit-column-gap: 3.2em;
		-moz-column-gap: 3.2em;
		column-gap: 3.2em;
	}
	
}